[2020-04-20 20:06] lwansbrough opened #337 "Compile string without model"
Is a method like `Task<ITemplatePage> CompileStringAsync(string key, string source)` possible?

[2020-04-20 21:29] jzabroski commented on #337
Not sure what you're asking. - How to compile a template that has no model?

Just use a phantom model with type `@Model System.Object`

[2020-04-20 22:38] lwansbrough commented on #337
That's basically what I did. Seems to work, just wasn't sure if that was a good idea or not. My question was about whether it was possible to compile without a model at all. For instance, it would be useful to be able to do something like this:

[code]

This way I don't have to know the model type at compile time. This allows me to re-render the compiled template without having to recompile each t

[2020-04-21 12:59] jzabroski commented on #337
Interesting, thanks for sharing.  I'll think about it.  If you have a solution, please post it here for further discussion.

[2020-04-21 18:53] nblx2k4 commented on #294
@Wingjam I confirm it does, kudos!

[2020-04-23 02:07] rzubek commented on #306
@jzabroski Good news - the problem with azure functions v3 is on their end, and there's a work-around.

The newer versions of the functions SDK are cleaning out DLLs too eagerly, and until that's fixed in the SDK, it can be prevented by adding this to .csproj.

[code]

Confirmed that this works for RazorLight as well. For future reference, they're tracking it here: https://github.com/Azure/azure-f

[2020-04-27 04:55] jzabroski commented on #306
Awesome, thank you @rzubek for amazing diligence and for sharing your findings.  You are a gentleman and a scholar.

[2020-04-30 01:02] marekvse commented on #240
Hey guys, any news on this front?

[2020-05-01 03:45] marekvse commented on #240
OK, so I've spent more time on this yesterday and today trying to make it work. I did find where the problem is, but I am not able to solve it because:
1) It seems to be caused by a (very) different result in the "GeneratedCode" property from the call to Microsoft.AspNetCore.Razor.Language.DefaultRazorCodeDocument.GetCSharpDocument.
2) I have no idea if and how to influence the result from that ca

[2020-05-06 19:17] macsux opened #338 "Debugging capabilities"
Is there a way to debug Razor template when using this library?

[2020-05-06 22:30] Vaccano opened #339 "Example that works in LinqPad"
**Is your feature request related to a problem? Please describe.**
When I tried to create the basic example using LinqPad I got the following error:

**Describe the solution you'd like**
I would be nice if there was an easy to to get an example to run in LinqPad.  That way it is would be easy to test with.

**Additional context**
Here is the code I used to try to get this to run in LinqPad:

	asyn

[2020-05-06 22:40] Vaccano commented on #339
Nevermind.  The issue is with a setting in the project file.  I don't know if that would even be possible in LinpPad.

[2020-05-06 22:40] #339 closed

[2020-05-07 17:27] jzabroski commented on #339
Please ask Linqpad for help

On Wed, May 6, 2020, 6:40 PM Vaccano <notifications@github.com> wrote:

[2020-05-07 19:38] jzabroski commented on #338
I don't debug them.  As explained in other places, I avoid business logic in the views and just test my viewmodels.  I don't use things like local functions.  If you want to write tests, look into SharpPuppeteer for fluent async/await browser automation and Verify/ApprovalTests.Net for approval testing.

You might be able to use dnSpy.  I looked at what Blazor does and they explicitly state they d

[2020-05-07 19:41] #338 closed

[2020-05-08 14:21] joaocte commented on #203
this resolve in .net core 3.1.

[2020-05-16 18:01] Basyras opened #341 "System.IO.FileNotFoundException. Can't CompileRender when special charatecter is in path"
I am using RazorLight nuget package v. 2.0.0-beta7 (same problem in RazorLight.NetCore3 ) in my WPF ( .NET Framework 4.6.1 )application and i keep getting System.IO.FileNotFoundException when calling engine.CompileRenderAsync().

My project path is

`C:\Honza\Prace\Programovani\C#\Bucek\Smlouvy\Smlouvy`

After seeing this exception message:
`System.IO.FileNotFoundException: 'File C:\Honza\Prace\Pr

[2020-05-16 21:41] Basyras commented on #341
I could not reproduce same exception in new console app (.net core 3.1)

[2020-05-19 16:26] martinalderson commented on #22
FWIW, this is a real problem on .NET core. Visual Studio will always try to compile .cshtml files (even using the nuget package to disable this), and @Raw doesn't compile using normal razor syntax. The only way I could do it was use @Html.Raw in cshtml files, then load the files manually into strings, replacing @Html.Raw with @Raw. It's a shame @Html.Raw could not have been implemented, all the re

[2020-05-19 20:40] jzabroski commented on #22
@jmevel I was unaware of this feature request since helping Ivan, since the original requestor closed it.  Its a hard problem to deal with when people are frustrated about things out of my hands (not aware of pain point).  And then, rather than opening a new issue, people post on the Closed issue expecting people will see it.

As far as making this work, I don't see why it would be impossible.

[2020-05-19 20:46] jzabroski opened #342 "Use HtmlHelper from view"
Re-open #22

Users want to be able to use HtmlHelper and @Html.Raw syntax from razor light models.

@martinalderson @jmevel @bjcull @jjxtra

[2020-05-19 21:28] jmevel commented on #22
@jzabroski people comment on closed issues because they can still be re-opened.

If you want tickets to be re-created then fine I'll do that for another one which was closed by Ivan but in my opinion this action wasn't justified.

[2020-05-19 21:37] jmevel commented on #22
@jzabroski  Actually even after re-reading the comments I don't even remember what was this problem about. I haven't used RazorLight for a while.

But you should definitely read what I wrote some time ago [on this ticket](https://github.com/toddams/RazorLight/issues/161).
I never managed to get RazorLight working completely with string templates

[2020-05-20 01:48] jzabroski commented on #161
@jmevel Thanks for mentioning this, but without seeing what your helper functions are doing, its difficult to know what the solution is.  It's possible you are running into known issues around sub-template location.  I've been meaning to dig into this but I imagine its a lot of work to figure out how ASP.NET Core Tooling does this resolution.

[2020-05-20 01:50] jzabroski commented on #22
@jmevel I'm sorry for your paint points - I don't use string templates, but it does seem like that is the one area users complain most about.  Recent PRs from others have sought to address some holes, and it has overall improved the code base a bit.

I get why people comment on old issues, but I think there is some "netiquette" around bumping issues closed >3 years ago.

[2020-05-20 06:54] giammin commented on #161
guys just stop bothering with this mess and use Handlebars.Net

it is a lot better: lighter, faster.

[2020-05-20 11:38] jzabroski commented on #161
I'm sure the maintainers of Handlebars.net will love it when you harass them, too.

[2020-05-20 11:53] liamwang commented on #342
I really want to be able to use `@Html.PartialAsync`.

[2020-05-20 11:54] toddams commented on #161
That's cute how lots of individuals think that they are doing you a favor by using your library, or that we, as a maintainers, owe them something. Guys, use the tools that works better for you. Expressing your toxic and completely redundant opinion is not mandatory

[2020-05-20 12:02] toddams commented on #161
I spend enormous amount of time investigating how all this Razor internals work, library was rewritten a couple of times as Microsoft did major changes in Razor gears, and all that should have been reflected not to lag behind. @jzabroski did a priceless efforts to support this library since I had less time to continue supporting this library at that tempo, and since we are not getting paid at all

[2020-05-20 12:21] giammin commented on #161
just look at this issue and at your attitude...

not at all. i dont think that you owe me nothing  or I am not doing you a favor
that is why  i decided to lost all of the work i did and move to another library

[2020-05-20 12:49] jzabroski commented on #161
I would suggest not doxing yourself any further.

[2020-05-25 10:48] bvmeer commented on #336
Any update on this issue? I have the same issue, when using the RazorLight package within a REST API to send a email based on razor templates. (.net core 3.1)
The issue resolved when adding a reference to nuget package Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation

[2020-05-25 22:27] frankgeerlings commented on #308
As it has been a while, I'm just here to report that [the temporary workaround proposed by VadimBurshtyn](https://github.com/toddams/RazorLight/issues/308#issuecomment-578028795) works like a charm in my particular case.

If you apply the workaround, then sections will work in .NET Core 3.1 and RazorLight 2.0-beta4.

[2020-05-29 07:13] weyert commented on #308
Thanks for helping solving this issue. I have shared the fix. I am not working for the company anymore were I was using this library

[2020-05-29 17:35] hogan commented on #306
I tried everything, including unofficial beta package, and nothing works.
I use Core 3.1 azure function, launched locally.
With unofficial beta i get this error:
`System.TypeLoadException: 'Method 'CommonGetSpecialTypeMember' in type 'Microsoft.CodeAnalysis.CSharp.CSharpCompilation' from assembly 'Microsoft.CodeAnalysis.CSharp, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' doe

[2020-05-29 17:51] jzabroski commented on #306
@hogan Have you tried a simple repro in Azure Functions vs your full blown solution?  When you say "I tried everything", did you try the solution described by @rzubek above?

I can't really help someone who posts a random exception message.  There's just zero hope of me figuring out what your problem is.

I realize you're probably frustrated, but if you don't document what "trying everything" cove

[2020-05-29 20:05] hogan commented on #306
@jzabroski now I have tried to create new azure function project wih2.0.0-beta7 and example code from readme. I have tried both string rendering, and custom razorlight project.
I did tests in this order:
- any changes to flags in csproj - always PreserveCompilationContext error
- adding SetOperatingAssembly() with my assembly - it works! The assembly passed into SetOperatingAssembly can be in libr

[2020-05-30 19:35] jzabroski commented on #306
@hogan Thanks for all that information.  Stephen Cleary pointed out to me that much of Azure Functions problems likely come from two areas:

1. Azure Functions runs the latest runtime for your given [FUNCTIONS_EXTENSION_VERSION](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#functions_extension_version).  Therefore, if you are not also using dependencies bound to the

[2020-06-03 10:35] TLA020 commented on #248
This worked for me ! thanks

[2020-06-04 14:14] nZeus commented on #188
In my case ((I have .net core 3.1 app for win10-x64 which I build on Linux machine) I had to remove `-p:PublishTrimmed=true` from the `dotnet publish` command :(

[2020-06-04 14:22] jzabroski commented on #188
@nZeus I believe you can set `<PublishTrimmed>True</PublishTrimmed>` in your endpoint csproj file, so as to avoid specifying it on the command line every time.

[2020-06-04 14:50] nZeus commented on #188
My console app generates an html report with the help of `RazorLight`.
I get a lot of similar errors from `RazorSharp` when using the `PublishTrimmed` option:
[code]

I've also tried `<TrimmerRootAssembly Include="System.Private.CoreLib" />` - but that doesn't help for some reason :(

[2020-06-04 15:38] jzabroski commented on #188
Interesting.  I had no idea these helpers existed.  Learn something new every day!  Thanks for sharing!  Glad I asked you!

[2020-06-05 09:04] itniels commented on #308
Hi everyone, thank you for the awesome work on this :)

We are currently moving everything over to DotNet Core, and now we too need sections to work, but the workaround proposed by @VadimBurshtyn seems to no longer work, or i at least I cannot seem to get it working.

I run into the following exception no matter what i do:
`Method 'GetItem' in type 'NullRazorProjectFileSystem' from assembly 'MyPro

[2020-06-06 21:19] everix1992 commented on #247
Leaving this here since it's slightly relevant. I ran into this same exception, but in an Azure Functions project and was able to resolve it by adding the Nuget Package System.Threading.AccessControl to my project. Not the most ideal solution, but at least it worked for me

[2020-06-06 22:12] jzabroski commented on #247
@everix1992 did you try the advice in the FAQ? You can also try `<PublishTrimmed>False</PublishTrimmed>` in your root csproj

[2020-06-09 06:36] itniels commented on #308
Update:
Figured it out, and jsut sharing this in case someone else runs into the same issue.

It seems to satisfy the `GetItem` in a `RazorProject` i needed to specifically reference this package version in the netstandard2.0 project hosting RazorLight
`<PackageReference Include="Microsoft.AspNetCore.Razor.Language" Version="3.1.4" />`

and now all is good 😊

[2020-06-10 14:42] geisi93 opened #343 "Strong Name RazorLight"
Would it be possible to Strong Name Sign the RazorLight.dll (2.0.0-beta7)? This would enable Strong Named Projects to use RazorLight without the need of using any hacky Strong Namer.

Thanks in Advance.

[2020-06-11 13:54] Vincentvwal opened #344 "CompileRenderStringAsync cannot find included template"
Running latest Beta with .Net standard 2.1 we are implementing RazorLight, however have run into an issue with including templates.
We are running a pre-compile of our templates by getting them all and running CompileRenderStringAsync.

[code]

This works for single templates, however when including an header for example, it throws the error
`RazorLight.TemplateNotFoundException: 'Project can not

[2020-06-11 14:55] jzabroski commented on #344
When you say include a header do you mean using sections?

[2020-06-11 15:00] Vincentvwal commented on #344
No i am including these using `@{await IncludeAsync("Header.cshtml", Model);}`
This header does not only contain some information, but also the initial markup of the email

[2020-06-11 16:05] avs099 commented on #78
bumped into this today. I found this workaround:
[code]

and then use it as in good old times:

`<td>@PrintNumbers(12,4)</td>	`

[2020-06-11 16:32] jzabroski commented on #78
@avs099 Thanks.  Perhaps we should add this the FAQ.

[2020-06-14 17:59] hogan commented on #344
At first glance, I would say remove ".cshtml" from IncludeAsync call.

[2020-06-14 18:20] hogan commented on #337
I think that when you use CompileRenderStringAsync (shown in quick start), it will be compiled and rendered when run for first time, and in following calls it will use precompiled templates.
I think it works like that, because why else would there be a caching provider?

If I am correct, you do not need to precompile the templates beforehand, it will be done in first render.
If you really need the

[2020-06-14 19:01] jzabroski commented on #337
@lwansbrough

I think you might be conflating two requirements in your design.

1. Dynamically selecting a model type at run-time. (RE: _"I don't have to know the model type at compile time."_)
2. Dynamically creating templates in an efficient way

For one, this is a common feature request for ASP.NET Razor, but Microsoft hasn't addressed it.  Basically, you can't create a template on an "open gen

[2020-06-16 16:48] Tiberriver256 opened #345 "Razor 3.1.0 support?"
Looks like maybe 3.1 isn't supported at the moment? I get the following runtime error:

[code]

Running on a .net core project with Microsoft.AspNetCore.Razor.Language 3.1.5 installed.

[2020-06-16 17:24] Tiberriver256 commented on #345
Sorry about this. Looks to have been a bug with the Azure Functions runtime.

[2020-06-16 17:24] #345 closed

[2020-06-16 18:39] jzabroski commented on #345
@Tiberriver256 Please see the FAQ and suggest any improvements.  I wish the FAQ was not so complicated but its out of our hands.

[2020-06-18 13:22] jzabroski commented on #308
I have this working in my local and the fix is shockingly simple that I'm disappointed I didn't put more effort in earlier to fix it.  But I hope you'll all give me a pass given COVID-19.

[2020-06-18 13:23] jzabroski commented on #308
Remaining task is to figure out why this broke in the first place.  My memory is one thing, and the facts I observe are another.  I believe its a "modus ponens" logic error, but I need to think it through to make sure I understand how this defect emerged.

[2020-06-18 14:00] itniels commented on #308
After spending a couple of weeks working on a `netstandard2.0` library with RazorLight testing it with both net471 and net-core, i hit a road-bump yesterday where this simply cannot be called from an ASP.NET 4.7.2 running in IIS... this looks to be due to some old assembly refs that RazorLight depends upon! and there is no way to make it work with our current solution as it cannot resolve the depe

[2020-06-18 14:07] jzabroski commented on #308
Can you show me a repro?  Is this problem related to sections or should you open a new issue so we can discuss your problems there?  Thanks.

[2020-06-18 19:41] itniels commented on #308
Yes you are right @jzabroski, it does not belong here.
I will create a new issue for this, and make a simple repro when i have a bit of time. :)

[2020-06-19 10:13] Vincentvwal commented on #344
Managed to find the issue, CompileRenderStringAsync creates the ITemplate with the key of type Email and not of type header as i has expected.
So when it is a shared template (as this one is) i have set the templatename based on the name of the cshtml itself instead of the model.

[2020-06-19 10:13] #344 closed

[2020-06-21 18:10] jzabroski commented on #333
@robdmoore Just a nudge.  I am slowly getting around to improving RazorLight more.  I just pushed 2.0.0-beta8.  It fixes the annoying section issue.

[2020-06-22 08:20] itniels opened #347 "Razorlight dependency resolution fails in asp.net 4.7.2"
**Describe the bug**
When calling the RazorLight render methods from a .NET 4.7.2 Web project, it fails to resolve assemblies.

* Microsoft.AspNetCore.Html.Abstractions
* System.Immutable
* etc..

Every time one is fixed a new one arises..
Our system cannot use the packages specific to RazorLight as they are way outdated, so due to the references in RazorLight it cannot be used by Framework 4.7.2.

[2020-06-23 08:25] marekvse commented on #240
Any ideas anyone?

[2020-06-23 13:09] jzabroski commented on #240
@marekvse I missed your last three reply somehow. I just saw this bump - thank you for bumping it.  I will try to take a look this weekend.  I have such a jammed workweek this week that there is little chance I can get to digging into this, but I think you provided me with sufficient info to dig in, so thank you very much.

[2020-06-23 14:08] mikoskinen opened #348 "RazorLight 2.0.0-beta8 depends on "broken" Nuget packages (Core 3.1)"
**Describe the bug**
RazorLight 2.0.0-beta8 (and some of the previous versions) has dependencies to .NET Core 3.0 packages which are broken. These packages contains DLLs which are missing modifies dates. This causes errors when trying to package a project which depends on RazorLight.

**To Reproduce**

1. Create a new .NET Core 3.1 console app
2. Add RazorLight 2..0.0-beta8
3. Set PreserveCompilat

[2020-06-23 17:54] jzabroski commented on #348
@mikoskinen I will create a PR, but can you please review it.  I think the correct fix is to basically split out the netcoreapp3.0 and netcoreapp3.1 nuget dependencies so that 3.0 references 3.0.x and 3.1 reference 3.1.y

[2020-06-23 18:02] jzabroski commented on #348
I think the mistake is RazorLight.Tests didnt target .netcoreapp3.1.  I am fixing that as part of the PR.  I am curious if that would have caught this problem.

[2020-06-23 18:13] jzabroski commented on #348
@mikoskinen As part of the PR, I will also update the sample project from .netcoreapp2.0 (which is no longer supported by Microsoft) to .netcoreapp2.1 (Microsoft's .NET 2.1 support expires August 21, 2021).

[2020-06-23 18:22] jzabroski commented on #348
@mikoskinen Please have a look at the fix I did.  This is not exactly what you suggested to do, but, in my opinion, a bit safer route and better practice, as it avoids LatestMinor release RollForward behavior and instead encourages LatestFeature release RollForward behavior, while at the same time preconfiguring the project to force the latest feature dependencies.

[2020-06-24 13:00] jzabroski commented on #348
Should be fixed.

![image](https://user-images.githubusercontent.com/447485/85560883-17dc0200-b5f9-11ea-87d4-930059978a45.png)

Will push fix out in a bit.

[2020-06-24 13:13] jzabroski commented on #348
Pushed to nuget.org - should be available in ~1 hour.

[2020-06-24 14:18] jzabroski commented on #308
Fixed in RazorLight-2.0.0-beta8. But please use beta9 instead if targeting .netcoreapp3.1 due to bug in `dotnet pack`: #348

[2020-06-24 14:18] #308 closed

[2020-06-24 14:41] jzabroski commented on #347
I started to clean up some scenarios related to legacy .NET Framework.  In particular, in my local, I have added the fix suggested by someone in #202 .  There are a couple of additional fixes needed to guard against spurious behavior on legacy .NET Framework, mostly dealing with making the .NET link-load process happy.  End game is to evolve the API so users can more easily configure stuff that is

[2020-06-24 15:26] mikoskinen commented on #348
Excellent, thank you very much for the fix!

[2020-06-24 17:06] itniels commented on #347
@jzabroski Ahh so sorry, that was from testing!
I updated it now to reflect what i used.

[2020-06-26 15:47] irvinetop commented on #348
I have the same problem and the last update did not fix my bug.
![image](https://user-images.githubusercontent.com/27347202/85875765-05b6bb00-b7d5-11ea-915b-562d55464ee6.png)
![image](https://user-images.githubusercontent.com/27347202/85875817-19fab800-b7d5-11ea-9735-aeaa86798150.png)

[2020-06-26 16:05] jzabroski commented on #348
@irvinetop I can't see what folder you're in, and I don't know how to repro your problem since it "works on my machine".  Please provide more details, such as, does "I have the same problem" refer to:

netcoreapp3.1/refs folder
what version of dotnet.exe are you using
what dotnet.exe --list-sdks outputs
what dotnet.exe --info outputs
what version of Visual Studio you're using

[2020-06-26 16:26] jzabroski commented on #348
@irvinetop Would you like to submit a PR for this?  See: https://github.com/natemcmaster/CommandLineUtils/issues/277#issuecomment-532532991

Nate's PR: https://github.com/natemcmaster/CommandLineUtils/pull/278

[2020-06-29 13:36] georgiosd opened #350 "Can't build project referencing 2.0.0-beta* on MacOS"
On latest MacOS with dotnet core 3.1.5, a 3.1 project referencing `RazorLight` will fail with:

[code]

I tried downgrading all the way down to beta1 and it fails with a different error.

Any ideas?

[2020-06-29 13:47] georgiosd commented on #350
Seems to be a problem with the package but if you know of any workarounds let me know!
https://github.com/dotnet/roslyn/issues/45516

[2020-06-29 14:02] jzabroski commented on #350
This **may** be a duplicate of #347 .  In effect, we don't directly depend upon Microsoft.CodeAnalysis.CSharp or Microsoft.CodeAnalysis.Common.  Instead, we depend upon Microsoft.CodeAnalysis.Razor.  But, to be honest, debugging .NET link-load issues is complex because you have to travel all the way up the nuget stack to figure this stuff out.

![image](https://user-images.githubusercontent.com/44

[2020-06-29 14:43] jzabroski commented on #348
Just an update here.  I am a little stumped as to what the problem is.  We may need Microsoft help here.  I also asked a former Microsoft employee who is fairly in tune with nuget and msbuild if he had any ideas.

Here is what I have done so far.

[code]

Run via:

[code]

You can see in the below Beyond Compare screenshots that disabling deterministic packaging doesn't seem to help.

![image](htt

[2020-06-29 18:52] jzabroski commented on #343
@geisi93 I'll close this request.  Please re-open when you have time to answer my questions.  Thanks.

[2020-06-29 18:52] #343 closed

[2020-06-29 19:04] georgiosd commented on #350
@jzabroski yes, I noticed all that. But then I removed RazorLight and added the package in question (which on nuget.org appear to have 3.6.0+ versions) and the dotnet core still couldn't find it so I think it's an issue with nuget or the package itself.

[2020-06-29 19:14] jzabroski commented on #350
@georgiosd It looks like `nuget restore` supports a [Verbosity detailed](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-restore#options) flag.
Can you:
1. Output `nuget.exe` (no parameters) to dump the version info (I have 5.6.0.6591 on my work pc in Amazon Workspaces)
2. Output `nuget.exe restore -Verbosity detailed` (ignore for a second that you should restore via dotnet.

[2020-06-29 20:02] jzabroski opened #351 "Fully Deterministic Build with SourceLink"
https://github.com/clairernovotny/DeterministicBuilds

This may solve #348

# Directory.Build.props
See: https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2019#directorybuildprops-example
[code]

[2020-06-30 00:44] marekvse commented on #240
Hi @jzabroski . That is great to hear. I'm especially eager to help in any way I can since this is really something that is part of my app and that I spent weeks on and that now, after conversion to .NET Core 3.1 does not work due to that error which to solve myself I don't seem to be equipped with the right knowledge at this time. It would be great if you could figure that out,
I've only now had

[2020-06-30 00:50] jzabroski commented on #240
Hi @marekvse .  please try the latest beta.  I think it was fixed there, but I did not 100% play by play reproduce your issue using a test.  If you'd like to submit a failing test I will investigate further, but I was expecting this issue to be resolved via beta8 release (we have some problems right now due to a bug in nuget.exe, but that should get resolved shortly.)

[2020-06-30 01:05] jzabroski commented on #240
@marekvse I took your example from https://github.com/toddams/RazorLight/issues/240#issuecomment-622234122 and it appears to work now.  I put the example on a branch to avoid polluting the mainline test cases.  https://github.com/toddams/RazorLight/tree/example/issue240

[2020-06-30 01:15] jzabroski commented on #202
I ended up implementing the interface from https://github.com/toddams/RazorLight/issues/202#issuecomment-607912964 as RazorLightEngineWithFileSystemProjectFactory.

It is a somewhat superfluous interface, but most people are probably calling RazorLight with a file system, so it makes sense to give them something standard to hook into.  It also frankly will make reading tests easier.

[2020-06-30 01:36] #331 closed

[2020-06-30 01:37] #330 closed

[2020-06-30 01:43] marekvse commented on #240
That's absolutely great to here. OK, I'm hopeful :). I'm going to apply the changes between my last version (which was beta 5) and the branch above now and see if it works and will report on that. Great thanks for now in any case!

[2020-06-30 02:07] jzabroski commented on #240
@marekvse When you say apply our changes, are you saying you have a forked copy and aren't using nuget packagereference?  If so, please use the official release from Nuget and stop using a fork.

[2020-06-30 02:23] #326 closed

[2020-06-30 02:24] jzabroski commented on #317
I started cleaning this up.

[2020-06-30 03:15] jzabroski commented on #317
@georgiosd So, I would appreciate a repro.

I spent an hour today figuring out if I could repro @twenzel or your problem, and I cannot.  Below is an example of what I tried.

[code]

[2020-06-30 03:41] jzabroski commented on #239
@smartlei24 Thanks for all your help explaining this problem.

So, I think there may be several red flags here.

One, that I didn't notice before, is "`builder.`".  I think what builder is matters a lot here.  Are you by any chance [using Blazor](https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/dependency-injection?view=aspnetcore-3.1#blazor-webassembly) - I found this via searchin

[2020-06-30 03:42] jzabroski commented on #229
RazorLightExtensions no longer exists.

[2020-06-30 03:42] #229 closed

[2020-06-30 03:45] jzabroski commented on #247
@kevin-david Did you try adding `System.Threading.AccessControl` nuget package to your root csproj?  Then, also, did you add `<PublishTrimmed>False</PublishTrimmed>` in your root csproj? The problem with this bug is I think I need an Azure App Service account in order to reproduce it, as I dont believe this feature is available locally.

[2020-06-30 03:48] #272 closed

[2020-06-30 04:52] marekvse commented on #240
Well, so I report that you've made at least one person very happy today. It does work!! I'm really really happy just now :).

As for the forking. Well, I did report about a year and a half ago some other problems and how I fixed them, but also said that I was not completely sure those were the ideal fixes as I could not say that I understand what I was fixing 100% so I did not submit those. I reme

[2020-06-30 13:14] jzabroski commented on #240
YEah, please send your current version (ideally, with individual git commits if you have them so it's not one big blob of changes.)  If you dont want to upload to github you can send to my personal email address in my GitHub profile.

I can see why due to the project not being actively maintained for a year people started forking it.  But I am getting on top of things and cleaning stuff up.  Cache

[2020-06-30 13:19] jzabroski commented on #350
@georgiosd I think this issue might only happen on Mac, which is why I can't reproduce it.  It may be a duplicate of #292

I guess, my question is, how can I repro a Mac issue?  What's the best practice?  I don't own mac any more.  Mine fried two years ago and I went Lenovo/Windows 10 Pro due to WSL support letting me run Linux inside Windows.  One way would be to move to GitHub Actions for CI/CD

[2020-06-30 13:32] jzabroski commented on #350
Googling for [NU1102 mac os x](https://www.google.com/search?q=NU1102+mac+os+x)

I found this: https://stackoverflow.com/questions/58074542/unable-to-find-package-microsoft-netcore-app-host-osx-x64-after-upgrading-to

[2020-06-30 14:00] kevin-david commented on #247
@jzabroski i did not - i ended up switching to [Razor Class Libraries](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class) after some really frustrating experiences trying to update dependencies.

[2020-06-30 14:48] jzabroski commented on #247
I understand that you had some really frustrating experiences trying to update dependencies.  The .NET nuget/msbuild build system is very sophisticated, and it has taken me years of troubleshooting war stories to come anywhere close to mastery.

For my own education, can you share with me how you use Razor Class Libraries?  I looked at the tutorial, but what are you looking to accomplish.  Somethi

[2020-06-30 17:56] georgiosd commented on #350
Thanks for spending time on this @jzabroski !

We make mobile apps also, so while half our team owns a personal Mac, we found that it's often necessary to use an independent box and we have rented a dedicated mac mini for $99/mo. I think there was a cheaper option for $80/mo or so.

If it's something that can be solved with tests, you can definitely use a mac host - https://docs.microsoft.com/en-u

[2020-06-30 17:57] georgiosd commented on #350
PS: I think it's unlikely to be the runtime because I only have 3.1.5 on my Mac right now, but I will check it

[2020-06-30 18:07] jzabroski commented on #350
I think it's most likely the mac stuff wasn't packaged correctly by Microsoft (or the macos build stack is non-deterministic in some way).  I run another project, FluentMigrator, where I ran into huge issues where System.ComponentModel.DataAnnotations wasnt packaged by EF team in a way that would allow you to write netstandard2.0 assemblies against a 4.7.2 executable.  I notice that when packages

[2020-06-30 18:18] georgiosd commented on #350
@jzabroski yeah if you can keep it at home it's obviously going to be cheaper! We have to have it accessible from anywhere so the online dedi box made sense.

I dont know an awful lot about Mac OS versions but it seems that the earliest offered by MS is 10.14 - I wouldn't go any lower!

[2020-06-30 18:40] #321 closed

[2020-06-30 18:41] #226 closed

[2020-06-30 18:45] #216 closed

[2020-06-30 20:07] jzabroski commented on #350
I should be able to get a Mac Mini on Sunday for $100 USD.  So, realistically, ETA to fix this is at least two weeks out.

[2020-06-30 22:08] kevin-david commented on #247
Sure. It's almost exactly what the tutorial spells out.

I have a mostly monolithic application (technically two Azure App Services with one mostly shared code base) deployed as an Azure App Service plan. Part of that ASP.NET core web app has email templates that were built using Razor `.cshtml` files - so I was essentially trying to find a reliable way to render those emails with models into `str

[2020-06-30 22:14] jzabroski commented on #247
Hi Kevin, Thanks, that is basically what I'm interested in hearing.  I think rather than me spend time debugging each person's individual set-up, it makes more sense for me to define some best practices samples people can fork off of, and then ask them, ok, which sample did you base your logic on?  And you captured beautifully what you want to achieve - unit test code coverage, and deploy via web

[2020-07-01 08:07] georgiosd commented on #350
Really? That cheap!? Wow. If you're just getting it for this fix, I can probably offer a temp account on our remote machine.

[2020-07-01 14:52] HamiltonManalo opened #352 "Error with RazorLight on windows 10 update 1909"
**Describe the bug**
A clear and concise description of what the bug is.
On an MSIX/AppXPackage deployment, RazorLight compilation throws the error listed below. On local installation of the deployment the error is not encountered. I suspect it's due to the windows 1909 update but I'm unsure of how to go about debugging it. Would anyone be able to advise?

**To Reproduce**
Steps to reproduce the b

[2020-07-01 15:23] jzabroski commented on #352
What does your csproj look like?

Also, when you say MSIX/AppXPackage, which one?  Aren't they different?  What tool are you using to build the package?  I'm not familiar with all the ways Microsoft offers to package things.  A good source I use is the Installer Dude on Stack Overflow.

Also, did you try [googling the error](https://www.google.com/search?q=Cannot+find+reference+assembly+%27Windows

[2020-07-01 15:26] jzabroski commented on #350
Yeah man.  FaceBook Marketplace.  I dont know if they have it in Greece but it's pretty sweet way to deal in secondary markets.  Sometimes you end up with crap but I'd say it's net saved me money.  (I once bought a Dr. Beats metronome on there that after I took it home, realized it didn't actually work correctly.)  This Mac Mini is 10.11 but I can use dosdude to upgrade to Mojave.

[2020-07-01 16:01] HamiltonManalo commented on #352
Thank you for the quick reply!

Yes I did google the error, unfortunately for me this solution is for the ClickOnce application installer, because we've moved our codebase to .Net Core we're deploying the application using the AppX package via Windows Application Packaging in visual studio. The application is deployed across the organization, however only PC's on windows 1909 seem to experience an

[2020-07-01 16:06] jzabroski commented on #352
I would try stepping through the various suggestions in our FAQ.  The thing that is frustrating with .NET "framework dependencies" is there is a lot of knobs that influence the linker-loader, and, whereas most engineers were accustomed to looking closely at their App.Config and seeing bindingRedirects, almost **no** engineers ever look at their .deps.json file and runtime.json file.

[2020-07-02 09:06] georgiosd commented on #350
Very cool indeed! We certainly have it here but I don't use it very much because of quality concerns, but for that price, who can argue :)

Let me know what you find! I'm working from my laptop today so will have to uncomment RazorLight usages

On Wed, Jul 01, 2020 at 18:27:06, John Zabroski < notifications@github.com > wrote:

[2020-07-03 14:10] georgiosd commented on #350
So when adding the `Microsoft.CodeAnalysis.CSharp` package I noticed it then complains about `Microsoft.CodeAnalysis.Common` package. Then I tried installing that instead and I think the last line is telling:

[code]

[2020-07-03 14:23] georgiosd commented on #350
Another interesting fact. Adding RazorLight 1.x works fine. Adding `Microsoft.CodeAnalysis.Common` on a fresh project adds 3.0.0. Then adding RazorLight 2.0 fails because it wants > 3.3.0 which cannot be found :S

[2020-07-03 14:35] jzabroski commented on #350
Until I have a Mac I don't think I can figure out what MSBuild/Nuget is doing to cause you so much headaches.

[2020-07-03 14:42] georgiosd commented on #350
I know, just adding context :)

[2020-07-03 14:52] jzabroski commented on #350
A dumb idea, but can you try `<RollForward>LatestFeature</RollForward>` and see if that changes the outcome?  It shouldn't, but hey...

[2020-07-03 17:02] georgiosd commented on #350
Nope...

On Fri, Jul 03, 2020 at 17:52:32, John Zabroski < notifications@github.com > wrote:

[2020-07-14 01:48] amro93 opened #354 "ViewBag properties if condition shouldn't throw exception on null check if the property doesn't exists"
**Describe the bug**
simply using this template
"@if(ViewBag.Namee == null) ...."

expected:
when the ViewBag properties does not exists the condition in the template should returns true

actual:
when the ViewBag properties does not exists the condition in the template will throw an exception

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description

[2020-07-16 07:15] arvdrpoo commented on #166
I am also trying to get localization to work in a generated HTML page.
The above workaround is specific to FluentMail and not to RazorLight.

I would be more than happy to make a PR with a fix/workaround for this issue, but I don't know enough about the workings of Razorlight (yet) to know where to find the root cause.

[2020-07-16 13:57] jzabroski commented on #166
@arvdrpoo (1) Does the solution in the FAQ work for you?  It disables encoding entirely.  As for what RazorLight does, it registers Razor compiler Directives and then adds "callbacks" for things like `@inject`.  There are a few tests around RawString if you search the code base.

[2020-07-16 13:58] jzabroski commented on #166
I had also started to rework some of the DI registration logic, but the complicated part is how to handle the callback logic.

[2020-07-17 11:51] arvdrpoo commented on #166
@jzabroski If you mean [this](https://github.com/toddams/RazorLight#encoding) part of the ReadMe/FAQ, it doesn't work. Or do you mean something else?

I'll try to take a look at the callbacks, and see what I can find

[2020-07-24 10:45] Basyras opened #355 "System.IO.FileNotFoundException. Can't CompileRender when executable is in directory with #(hashtag) in path"
**Describe the bug**
RazorLightEngine.CompileRenderAsync() fails because DefaultMetadataReferenceManager incorrectly formats assembly paths when containing # character.

DefaultMetadataReferenceManager private AssemblyDirectory method incorrectly formats paths and splits path from # character resulting in incorrect path and error when trying to load this path as assembly.

        private static s

[2020-07-24 10:47] Basyras commented on #341
Closing this issue. To see detailed explanation with workaround see #355

[2020-07-24 10:47] #341 closed

[2020-07-24 11:05] Basyras commented on #355
Is there any "dependency injection" way how to inject IMetadataReferenceManager when creating RazorLightEngine perhaps something like this?

[code]

### Anyway ... I have created nasty workaround
Some thing were marked as internal or private so i have to copy pasted them.

### Usage:
var engine = FixedRazorLightEngineCreator.CreateEngine();
var html = engine.CompileRenderAsync(...);

and create fi

[2020-07-24 12:19] jzabroski commented on #355
Hi @Basyras .  Is this only on legacy .NET Framework?  Any chance you can write a test in the project and add the test ignore property so that it doesnt fail the build, just provides a repro?

[2020-07-24 13:18] jzabroski commented on #355
Hi @Basyras One more note. I recently started to try to make the code more DI composable.  See: https://github.com/toddams/RazorLight/commit/cc9ab9674179c8f3d981704889474946df57df76 and https://github.com/toddams/RazorLight/commit/5642e7be11121004fe400d26fe451d366f42db5d - but I dont believe this is released yet.  Do you think these would simplify your workaround?

[2020-07-24 18:42] Basyras commented on #355
@jzabroski  The error is not present in .net core 2  when  beta versions are used plus stable RazorLight version (1.1) doesn't have this issue either even when used in .NET framework 4.6.1 (can't use this version anymore because after upgrading reference system to ".net core-ish" i get issue like this one https://github.com/toddams/RazorLight/issues/69 )

changing `AddSingleton` to `TryAddSingleto

[2020-07-24 19:45] jzabroski commented on #355
Awesome, thanks

On Fri, Jul 24, 2020, 2:42 PM Basyras <notifications@github.com> wrote:

[2020-07-24 23:53] Basyras commented on #355
@jzabroski I was bored and kind of changed my mind so i created pull request with default implementation of my "dreamed" DI Extension

[2020-07-25 00:33] jzabroski commented on #355
I like dreams.  Will review it this weekend or Monday at latest.  Thanks for your help.

[2020-07-25 15:00] mmokhtari commented on #21
any news on adding this feature??
tag helper is base feature of  razor views in asp.net core
this is very useful

[2020-07-26 13:21] mmokhtari opened #357 "support tag helper in string template"
hi there

i was looking at isses your were going to add support of tag helpers to compile from string trmplate since 2017?
is there any lock we get this feature soon?

[2020-07-26 15:25] jzabroski commented on #357
@mmokhtari I'm not sure what you're referring to in the issues backlog.  I started maintaining this project in 2019 to help Ivan (original author) out.  I personally don't have a wishlist of features but am happy to try to review pull requests.  I personally don't have much desire to add taghelpers at the moment.

[2020-07-27 14:08] Kailasl opened #358 "Blazor"
is this supported in blazor? I am trying to create a simple blazor app which wiil return me html based on the template.

[2020-07-28 18:45] Tyrrrz opened #359 "IncludeAsync should not default to ".cshtml""
**Describe the bug**

When you use `IncludeAsync` along with embed resource provider, it will always append `.cshtml` to the end of the key. I'm trying to include a CSS file to embed it inside the page, but I can't, unless it ends in `.cshtml`.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

Should properly include `Core.css` instead of trying to resolve `Core.cs

[2020-07-28 19:18] jzabroski commented on #358
Create a web service to expose the html you want returned.  No direct support.  I know very little about Blazor other than watching videos.  No hands on experience, sorry.  If someone wants to add a sample of getting it working, that would be awesome.  (I dont even know if it makes sense to use this from Blazor).

[2020-07-28 20:24] Tyrrrz opened #360 "RazorLight requires ASP.NET Core runtime"
**Describe the bug**

Because RazorLight has a `FrameworkReference` to `Microsoft.AspNetCore.App`, the user is expected to have the corresponding runtime. This is a show stopper for console or WPF apps as users of those will not have it installed (and shouldn't need to).

**To Reproduce**

1. Create a WPF app
2. Add RazorLight
3. Publish it
4. Try running on a machine where neither ASP.NET Core ru

[2020-07-28 22:46] jzabroski commented on #360
@Tyrrrz How should it work instead?

[2020-07-28 22:47] jzabroski commented on #359
What is the correct behavior?  Whitelist various extensions other than the alternative extension?

The issue is DefaultExtension = ".cshtml"

[2020-07-28 23:50] Tyrrrz commented on #359
I would suggest that if an extension is already provided then it shouldn't be appended. Only append if it's not, i.e. `Core` instead of `Core.css` or `Core.cshtml`.

[2020-07-28 23:53] Tyrrrz commented on #360
Well ideally it shouldn't depend on ASP.NET Core runtime because in the majority of cases you would want to run it outside of an ASP.NET Core environment. Taking dependency on an entire framework kinda clashes with the idea of it being a _light_ and _independent_ Razor engine.

[2020-07-29 00:50] jzabroski commented on #360
@Tyrrrz I think you're misunderstanding my comment.  You're asking for support for your specific deployment scenario but not providing me with your csproj PackageReference(s), etc.  I take it your problem is in the master branch here: https://github.com/Tyrrrz/DiscordChatExporter ?  The notion that a WPF app needs to be "published" also indicates there is something else going on beyond just using

[2020-07-29 01:14] Tyrrrz commented on #360
Yes, that is correct. I'm not asking for support with my deployment, I'm letting you know about this behavior, which I assume is not intended.

Not sure what you mean by "something else going on beyond just using WPF". It's not about WPF, the same can be observed with console applications. Just to clarify, by "publishing" I'm talking about `dotnet publish`.

It can run on .NET Core without ASP.NET

[2020-07-29 01:16] jzabroski commented on #360
Got it.  Thanks for that help.  Very helpful.

I got involved after 2.0.0-beta2, so it makes sense I was unaware of this disconnect.

[2020-07-29 01:18] jzabroski commented on #360
The other remark I have here is that FrameworkReference(s) are supposed to be installed locally.  It's also a misnomer to say RazorLight depends on the runtime; it depends on the framework, not the runtime.  We only load the assemblies we need (although I shoud write an integration test to verify this behavior, as, to your point, it defeats the purpose if it doesn't)

[2020-07-29 01:20] jzabroski commented on #359
The problem I see with that proposal is that folder slashes get converted to ".", so how would you know if something is a subfolder to a cshtml vs. a css file?  I realize the odds someone names their file `Views/css.cshtml` are small, but how would you suggest we deal with that resolving to `Views.css`?

[code]

[2020-07-29 10:06] Tyrrrz commented on #360
These are mostly the same when it comes to .NET. By depending on the runtime, I mean that the end users need to have this installed:

![image](https://user-images.githubusercontent.com/1935960/88787259-44f17680-d19c-11ea-938b-5855f48f5558.png)

[2020-07-29 10:07] Tyrrrz commented on #359
What about, try to open resource `Views.css`, if it exists then go with that, otherwise try `Views.css.cshtml`?

[2020-07-29 12:27] jzabroski commented on #360
This may be a gap in my knowledge, but isn't the correct term for those runtimes in the screenshot a "Runtime Pack"? In other words, the runtime is the actual VM. The Runtime Pack is the core dependencies. Both Desktop Runtime (Pack) and ASP.NET Runtime (Pack) still have dotnet.exe as an entry point. The whole of what FrameworkReference does is to allow GAC-like behavior so we're not installing al

[2020-07-29 13:50] Tyrrrz commented on #360
Haven't heard the term "Runtime Pack", but maybe. The point is that, in order to use a project that references RazorLight, the end user needs to have ASP.NET Core Runtime installed, in addition to other runtime they would otherwise need. Normally, if it's just a console application, they only need the base runtime. Similarly, if it's a WPF or WF application, they would only need a desktop runtime.

[2020-07-29 15:25] jzabroski commented on #360
I do understand your point, I am just describing my understanding of the issues and why they arise, so that I can backtrack to what the most elegant solution is (unless you already have a solution in mind that works).  Because the idea of removing FrameworkReference somewhat flies in the face of my understanding of how things should work.  The other idea is that this is why I created #299 , becaus

[2020-07-29 17:13] Tyrrrz commented on #360
It's not entirely clear how to best solve it, especially since RazorLight could also be used from ASP.NET Core context. Ideally, if you could reduce the dependencies just to `Microsoft.AspNetCore.Razor.Language` and `Microsoft.CodeAnalysis.CSharp`, that would solve it, but I assume RazorLight depends on other parts of ASP.NET Core as well.

[2020-07-29 17:20] jzabroski commented on #360
I believe that there are parts of the infrastructure that are effectively tightly coupled to the runtime pack itself, like Antiforgery token.  I never dug into why exactly but it is what it is.  I know that some of the leaders on Microsoft's front have improved the modularity in some respects but also made it more tightly coupled in other areas (e.g., to reduce misconfiguration issues and cut down

[2020-07-29 19:50] sam31897 opened #361 "Schedule for stable v2.0.0?"
Hi RazorLight team,

I am currently planning to use this library to create html reports for my company. However, I need a **stable** v2.0.0 version. I can not use v1.1.0 because the project will be in netstandard2.0.

Thanks,
sam31897

[2020-07-30 20:59] toddams commented on #360
There is definitely a way to get rid of shared framework, as I remember, FrameworkReference got here from some contributor in order to solve some bug or smth.

[2020-07-31 01:06] jzabroski commented on #360
@toddams I looked at the blame and you're right.  Should be easy fix.  I will do it this weekend.

[2020-07-31 20:45] DanielClausen commented on #306
@hogan Were you ever able to resolve the error in your existing project?  I'm getting the `Method 'CommonGetSpecialTypeMember' in type 'Microsoft.CodeAnalysis.CSharp.CSharpCompilation'` exception when trying to add RazorLight to my Azure Function 3.1 project.  I have a unit test that is able to compile my template and get the correct output so I currently don't think it is a template problem.

[2020-07-31 20:48] jzabroski commented on #306
@DanielClausen what version of func.exe

[2020-07-31 20:57] DanielClausen commented on #306
@jzabroski  Function Runtime Version: 3.0.13901.0

[2020-07-31 21:00] jzabroski commented on #306
so func.exe is 3.0.13901.0 but SDK is 3.1?

[2020-07-31 21:03] DanielClausen commented on #306
Yes, that would be correct, version 3.x is intended with Core 3.1:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions

[2020-07-31 21:07] jzabroski commented on #306
Sorry to be nitpicky, but youre actually using:

func.exe version 3.0.13901.0
.net core runtime version 3.1.?.?
azure functions sdk version ? can't be 3.1 since nuget says 3.0.9 is latest https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/

[2020-07-31 21:08] jzabroski commented on #306
This is incredibly critical to get right to troubleshoot a problem.  THe massive tree of dependencies is enormous.  Can't search in the wrong haystack for a needle.

[2020-07-31 21:18] DanielClausen commented on #306
It's fine my apologies for not being clear, I didn't catch on you were asking about the SDK version.  In my defense it's past 5 on a Friday and weekend brain is taking over.

func.exe version 3.0.13901.0
.net core runtime version 3.1
Microsoft.NET.Sdk.Functions version 3.0.8

[2020-07-31 21:24] jzabroski commented on #306
Hey man, It's OK, on Monday, please try 3.0.9.  That would probably be the lazy brain way to push past this issue.

[2020-07-31 21:40] DanielClausen commented on #306
@jzabroski I've got it working!  Based on a blog where someone claimed to have RazorLight working with Functions V2 I was using the RazorLight.Unofficial 2.0.0-beta1.3.  I switched over to RazorLog 2.0.0-beta9 and now it works.  In hindsight I should have tried that sooner.  I also tried upgrading to 3.0.9 and that didn't make a difference.

Hopefully, this information can help anyone else that mi

[2020-08-01 01:54] jzabroski commented on #306
@DanielClausen I really appreciate that.  It's been a long journey herding cats among people who use unofficial RazorLight packages and getting people onto the main line, but it's starting to come back into the fold.

[2020-08-05 14:15] jzabroski commented on #361
@sam31897 I saw this question, and was hoping to provide an update after the latest release.  That said, what exactly does "stable" mean to you?  No changing public APIs?  I've been thinking about this question lately, because, technically, we broke binary compatibility in beta2 when we introduced Microsoft.AspNetCore.App FrameworkReference, which I am not reverting.  Previously, I did not think o

[2020-08-05 14:23] jzabroski commented on #360
@Tyrrrz @toddams Just an update on this.

I think I almost got this all fixed.

The remaining error I am a bit stumped by and need to push through to figure out why its not working is this:

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'IHostBuilder' does not contain a definition for 'ConfigureWebHostDefaults' and no accessible extension method 'ConfigureWebHostDefaul

[2020-08-05 16:18] sam31897 commented on #361
We're just looking for a release marked as stable be you guys. As of right now, the latest stable version i see is v1.10
![2020-08-05 09_18_30-toddams_RazorLight_ Template engine based on Microsoft's Razor parsing engine fo](https://user-images.githubusercontent.com/21166009/89437622-a8c7f200-d6fc-11ea-864a-d3f7270a07e5.png)

[2020-08-05 16:47] Tyrrrz commented on #360
`Microsoft.NET.Sdk.Web` is quite common on test projects, at least those that test web applications. As long as it's not on the actual project that gets packed into NuGet, it should be fine to use that, imo.

[2020-08-05 17:30] jzabroski commented on #360
@Tyrrrz Doing that causes a lot of cshtml errors, because it invokes the whole magic of Visual Studio support for Razor Web projects, so I think it's a non-starter.

First you get these errors:
![image](https://user-images.githubusercontent.com/447485/89444090-30bef380-d71f-11ea-8b32-efcb3cf288d3.png)

Even if you delete WrongRazorSyntax.cshtml from the Assets/Embedded and Assets/Files folders, yo

[2020-08-10 18:17] jzabroski commented on #361
OK, I get that. Trying to solve #360 and then should be good.

[2020-08-10 18:18] jzabroski commented on #350
@georgiosd I think this is actually related to #360

[2020-08-11 09:32] georgiosd commented on #350
@jzabroski how could that be true? My project is ASP.NET Core already :S

[2020-08-11 12:42] tghamm commented on #247
Just figured I'd toss in there, we're experiencing this exact issue in pretty much the same configuration, only, with .net core 3.1

[2020-08-11 12:49] jzabroski commented on #247
@tghamm Just to make sure I capture the problem: When you say pretty much the same configuration, do you mean:

1. Azure App Service
2. AI SQL Diagnostics enabled
3. Only difference is you're using .NET Core 3.1

As a dirty workaround, you can consider creating a DirtyAssemblyResolveHelper class that forces the .NET runtime to load whatever version of the DLL you have available.  I am not sure tha

[2020-08-11 12:57] tghamm commented on #247
@jzabroski precisely.  Azure App Service, AI SQL Diagnostics enabled (disabling rectifies the issue), and we're using .NET Core 3.1.

[2020-08-11 13:41] jzabroski commented on #247
@tghamm It's important to realize this is not our bug.  This belongs with either dotnet org or with Azure App Service.  The way you can troubleshoot this problem to help get Microsoft to move the ball on this problem is as follows:

1. Read https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/understanding-assemblyloadcontext
2. Use `Type.GetType("TypeNameThatIsFailedToBeFound").Assembl

[2020-08-11 14:27] jzabroski commented on #247
I submitted a PR to improve the assembly loading debugging docs: https://github.com/dotnet/docs/pull/19958

[2020-08-11 15:03] jzabroski commented on #247
@tghamm As one other thought, I see Kevin David never tried setting PublishTrimmed to false.  Can you try that guidance and see if it works? (See: https://github.com/toddams/RazorLight/issues/247#issuecomment-651510802)  Please don't try this in production environment! :)

[2020-08-11 18:49] tpspencer opened #362 "Finding Views in an included class library"
I am using RazorLight in a .net core 3.1 console app.
Everything is working great.
I decided to move my Views to a class library, but the "await IncludeAsync" method can not find the views.

Here is the solution structure
sln:RazorLightStandAlone
consoleApp: ConsoleNetCore\Views
classLib: BondPrint\Views

For views in ConsoleNetCore, this works great:

`				@{ await IncludeAsync("Views.RatingsBond

[2020-08-11 19:17] tpspencer commented on #362
I have figured it out.  Usually happens after you post a message for help.

Thanks for the great project.

[2020-08-11 19:17] #362 closed

[2020-08-11 19:17] jzabroski commented on #362
@tpspencer
https://github.com/toddams/RazorLight#embeddedresource-source

[2020-08-11 19:17] jzabroski commented on #362
Great.  Thank you for closing.  Happy jamming away to RazorLight.  All credit goes to @toddams for slaving over this project for years.

[2020-08-12 03:18] tghamm commented on #247
@jzabroski we played around with this today, and in our case, System.Threading.AccessControl was not part of the project at all.  Simply adding the Nuget package to the project fixed the issue and got us running again.  We spent all day messing with the .Net Core 3.1/App Service/Application Insights combo, and, having recently come from the same stack in .Net 4.5, I'd agree that the AI instrumenta

[2020-08-12 03:19] tghamm commented on #247
@jzabroski appreciate the help and responsiveness!

[2020-08-12 17:43] tpspencer opened #363 "Adding @inherits... causes linq statements to choke"
I have moved all of my views to a class lib project.
Everything works fine.
I started adding these two statements to the top of each view to gain Intellisense back.

`@using RazorLight

@inherits TemplatePage<BondPrint.BondPrintoutViewModel>
`
Now I get Intellisense in my views, but Linq statements do not work.
I even tried adding a using statement for System.Linq, but that did not help.

Here is

[2020-08-18 14:31] tpspencer commented on #363
Turns out I was passing in an IEnumerable<type> and forgot to change the @inherits TemplatePage<type> statement.

My but.

[2020-08-18 14:31] #363 closed

[2020-08-18 15:40] jzabroski commented on #363
Thanks for the follow up

[2020-08-21 15:26] tpspencer opened #364 "Can't find GetStyleSheet"
I am having trouble with a View finding my Getstylesheet static method.  It works in other projects, but this new one is giving me problems.

![image](https://user-images.githubusercontent.com/15737661/90907488-ac17da80-e398-11ea-8bc1-caebf35fd5be.png)

![image](https://user-images.githubusercontent.com/15737661/90907656-db2e4c00-e398-11ea-8ce0-91860d3815d5.png)

![image](https://user-images.githu

[2020-08-24 14:48] jamesgurung opened #365 "InplaceStringBuilder no longer exists in Microsoft.Extensions.Primitives"
Template compilation now fails because the obsoleted `InplaceStringBuilder` was removed from the .NET Runtime in commit https://github.com/dotnet/runtime/commit/ef4bc4d503b71f9de1a8988da6db38bcfcfb0cc4.

This causes an error on the line:

https://github.com/toddams/RazorLight/blob/8e043e10423ecc0b88b49787dd597adddd4caa31/src/RazorLight/Compilation/RazorTemplateCompiler.cs#L263

[2020-08-24 16:34] jzabroski commented on #365
Thanks for mentioning this.  Do you want to submit a PR?

[2020-08-24 17:06] jamesgurung commented on #365
I'm afraid I don't know enough about string allocations to submit a PR. Changing the type to `StringBuilder` will compile, but I'm not convinced that would be any more efficient than:

[code]

[2020-08-24 18:09] jzabroski commented on #365
1. Add test coverage for NormalizeKey for EmbeddedRazorProject (trivial - this is identity function test - you can use a `Guid.NewGuid + "." + Guid.NewGuid` as your key to test )
2. Add test coverage for NormalizeKey for FileSystemRazorProject (this requires more work - what it's trying to do is normalize unix and windows file path conventions so that if somebody accidentally uses a backslash, we

[2020-08-28 11:44] krmr opened #366 "Quickstart sample throws exception with 4.7.2"
**Describe the bug**
A basic sample following the Quickstart throws the following exception on Build():
`System.TypeLoadException: Method 'GetItem' in type 'NullRazorProjectFileSystem' from assembly 'RazorLight, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.`
thrown at RazorLight.DefaultRazorEngine.get_Instance()

**To Reproduce**
Steps to reproduce the beh

[2020-08-28 13:49] jzabroski commented on #366
Can you share the csproj

On Fri, Aug 28, 2020 at 7:44 AM krmr <notifications@github.com> wrote:

[2020-08-28 13:49] Ric43 commented on #166
I don't know if this is still an issue. I couldn't get the localizer to inject into the view. I have created a workaround by injecting the localizer into the model and exposing it as a model property for use in the view. Works fine for my purposes.

Minimal implementation here:
https://github.com/Ric43/RazorLightPoC

[2020-08-28 14:33] jzabroski commented on #366
@krmr  I tried to reproduce the issue and could not.  I don't think the code by itself is enough to reproduce the issue.

1. Went into Visual Studio 2019.  Clicked Create New project.
2. Selected Language: C#, Project Type: Console, Target: .NET Framework
3. Named Project RazorLightTest
4. Right-clicked on Solution, selected Manage Nuget packages
5. Clicked Include Prelease, clicked on Browse tab,

[2020-08-28 14:51] krmr commented on #366
Thanks for trying, from you description i think the critical part might be missing:
6a. Still in Manage Nuget packages got to Updates, unselect Include prerelease, and update everything.

This pulls in version 3.17 for packages that seem to cause the issue. After manually downgrading the Razor packages to 2.20 the exception goes away.

It's just that on my first try I updated all packages as I alw

[2020-08-28 15:41] krmr commented on #366
For a full repro solution please see [krmr/RazorLight366Repro](https://github.com/krmr/RazorLight366Repro)

[2020-08-28 16:15] jzabroski commented on #366
Got it.  So the issue is we don't put version ranges on the RazorLight.csproj `PackageReference`s, to bound things. In particular, if using legacy .NET Framework, we shouldn't allow any netstandard2.1/netcoreapp3.0 dependencies, as those may contain `Span` and other data types that simply won't work on legacy .NET Framework.  I had tested the install path, but did not think to test the upgrade pat

[2020-08-31 16:08] #366 closed

[2020-08-31 16:08] jzabroski commented on #366
@krmr I reached out to someone who is interested in helping maintain the project if they'd like to push the packages to nuget.org.  If I don't hear back from them, I'll update beta10 tomorrow.  Thanks for your help.

[2020-08-31 16:10] jzabroski commented on #365
@HamiltonManalo is this something you'd be interested in fixing for .NET Core 5.0?

[2020-08-31 22:21] HamiltonManalo commented on #365
@jzabroski Yeah, I will start work on this as soon as I can.

[2020-09-01 12:38] RedlineTriad opened #368 "Invalid link in wiki."
**Describe the bug**
Link to MSDN at https://github.com/toddams/RazorLight/wiki does not point to a valid location.

**To Reproduce**
Open https://github.com/toddams/RazorLight/wiki and click on the linked MSDN example.

**Expected behavior**
An example on how to use the library.

[2020-09-01 13:16] tpspencer commented on #364
This was just me not getting pathing correct.

[2020-09-01 13:16] #364 closed

[2020-09-06 04:51] karoberts commented on #360
I tried removing this from RazorLight for core 3.0 and 3.1
`<FrameworkReference Include="Microsoft.AspNetCore.App" />`
and added this
`<PackageReference Include="Microsoft.AspNetCore.Razor.Runtime" Version="2.2.0" />`

and then put this into RazorLight.Tests for core 3.0 and 3.1
`<FrameworkReference Include="Microsoft.AspNetCore.App" />`

After that, everything compiled and all unit tests pass.  I

[2020-09-06 20:56] HamiltonManalo commented on #365
For the InplaceStringBuilder replacement there is
[string.Create](https://docs.microsoft.com/en-us/dotnet/api/system.string.create?view=netcore-3.1)
below is an article using it.
https://www.stevejgordon.co.uk/creating-strings-with-no-allocation-overhead-using-string-create-csharp

Have been fighting off a flu/sinusitis this week so I wasn't active. I'll look deeper, but my initial feeling is that

[2020-09-07 09:46] schmitch commented on #360
well adding `Microsoft.AspNetCore.Razor.Runtime` should probably work but the problem is that this package is not published for 3.x i.e. the `2.2.0` package might break in the future.

so using `Microsoft.AspNetCore.App` is safer, or it would be good to raise the issue on the dotnet core github.

[2020-09-09 13:00] sibeliuz commented on #317
This workaround fixes it for me too.

[2020-09-09 22:47] HamiltonManalo commented on #352
This write up is coming a bit late but I was able to correct the issue. Unfortunately it required me to import the razorlight project and make a change to the way assemblies are excluded. I spent a good deal of time investigating the issue and I wasn't able to find anything quite the same. My best guess is that it is an issue with calling `ResolveReferencePaths()`  on assemblies containing winmd f

[2020-09-15 19:45] georgeemr commented on #365
+1

[2020-09-16 14:48] #352 closed

[2020-09-16 17:03] jzabroski commented on #368
I can't find that zip file online anywhere, and the Wayback Machine (archive.org) doesn't seem to have it, either.  That said, did you look at the sample project in the source code folder?

[2020-09-16 22:45] SimonCropp opened #370 "mdsnippets now has an InPlaceOverwrite option"
https://github.com/SimonCropp/MarkdownSnippets/#inplaceoverwrite

which mean u dont need to `.source.md` files

let me know if u want a PR that moves over to this convention

[2020-09-17 07:33] 564064202 opened #371 "there is a bug when our project contains an unmanaged dll."
**Describe the bug**
there is a bug when our project contains an unmanaged dll.
System.NullReferenceException:“Object reference not set to an instance of an object.”
**To Reproduce**
Steps to reproduce the behavior:
project contains a unmanaged dll, such as https://github.com/bp74/Zstandard.Net
**Expected behavior**
A clear and concise description of what you expected to happen.

**Information (pl

[2020-09-17 13:22] jzabroski commented on #371
Can you provide more of the stack trace?

[2020-09-17 13:23] jzabroski commented on #371
@HamiltonManalo Does your fix for #352 address this?

[2020-09-17 15:55] HamiltonManalo commented on #371
@jzabroski It may allow a work around by excluding those particular assemblies. @564064202 Could you give an example package/dll you're running into issues with and I will see if I can test against that?

Thanks.

[2020-09-19 09:00] 564064202 commented on #371
@HamiltonManalo Hi,so sorry ,I'm late. you can use .net core with MySql.Data(Contains libzstandard)

[2020-09-19 10:26] HamiltonManalo commented on #371
@564064202 I tried to recreate it by adding RazorLight and the Nuget package and compiling templates but wasn't able to recreate it. Could you provide more details on where/how the error occurs and a stack trace? Does it look anything like the stack trace here #352?

[2020-09-19 11:44] 564064202 commented on #371
System.NullReferenceException
  HResult=0x80004003
  Message=Object reference not set to an instance of an object.
  Source=RazorLight
  StackTrace:
   at RazorLight.Compilation.RoslynCompilationService.CompileAndEmit(IGeneratedRazorTemplate razorTemplate)
   at RazorLight.Compilation.RazorTemplateCompiler.CompileAndEmit(RazorLightProjectItem projectItem)
   at RazorLight.Compilation.RazorTemplate

[2020-09-19 11:47] 564064202 commented on #371
![image](https://user-images.githubusercontent.com/12368358/93666441-d13f5c00-fab0-11ea-8cfa-f152048a331f.png)
It may allow a work around by excluding those particular assemblies-->NOT WORK

[2020-09-20 02:42] 564064202 commented on #371
@HamiltonManalo HI?HOW TO RESOLVE IT

[2020-09-21 06:57] ldubrois opened #372 "PropertyInjector is not scoping properly"
**Describe the bug**
We are using RazorLight in a project, with PropertyInjector as a PreRenderCallback.
We are injecting a service in a Razor view (using the form @inject) ; this service requires a IServiceProvider.
When using the IServiceProvider in the class, we a have a Object Disposed exception.

**To Reproduce**
Use injection with a class requiring an IServiceProvider and try to invoke it.

[2020-09-21 14:52] jzabroski commented on #372
@ldubrois Are you looking to submit a PR?  It seems like you did most of the work already?  Assuming the existing tests passed.

There are a couple of things not ideal with the way we're using IServiceProvider.  The big thing is the RazorLightEngineBuilder isn't composable via "services".

[2020-09-22 00:48] 564064202 commented on #371
@jzabroski  sir ,how to resove it

[2020-09-22 07:00] ldubrois commented on #372
I'm not used to github to create PR but I can try 😀

The only think that concerns me is the possible side effect of removing the scopes. May be some people take advantage of it (but don't really see how because the scope is completely dissociated from the render of the view itself).

From what I've seen, in classic MVC website, the scope is for the entire request, so if we want to reproduce it, th

[2020-09-22 14:14] jzabroski commented on #371
@564064202 I'm not sure yet.  I am  releasing 2.0.0-beta10 now, so hopefully that helps you out.  You would have to do the guidance in #352 as part of trying it out.

[2020-09-22 14:20] jzabroski commented on #371
@564064202 I just pushed beta10 up now - it should show up in your feed within the next hour.  The underlying theory as to why #352 would help you is it would allow you to exclude arbitrary assemblies from the compilation context.  It should work if the issue is identical to #352 where the windows metadata dll is also unmanaged.

[2020-09-22 14:25] jzabroski commented on #372
@ldubrois The tutorial is here: https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request

There are two reasons IServiceProvider might cause problems:

1. Calls to BuildServiceProvider - in ASP.NET Core, these are supposed to be called by the framework.  In ASP.NET MVC Classic, I am less certain on the rules and whether IServiceProvider is actually part

[2020-09-22 16:31] HamiltonManalo commented on #371
@564064202 Unfortunately I wasn't able to recreate the bug by adding MySQL.Data. Could you reproduce the bug in a simple project and provide a repo for it? If you can I will look into it further.

[2020-09-22 18:22] rchaser opened #374 "Official sample doesn't work in .Net core 2.2 and Azure function SDK v2"
**Describe the bug**
This simple sample doesn't work

[code]

System.Private.CoreLib: Exception while executing function: Function1. RazorLight: Can't load metadata reference from the entry assembly. Make sure PreserveCompilationContext is set to true in *.csproj file.

But it's set

[code]
**To Reproduce**
Repo with the simplest code
https://github.com/rchaser/RazorLightAndBlob

**Expected behavi

[2020-09-23 01:55] codeneno commented on #371
I see, you can use ZStanrdNet

[2020-09-23 02:12] codeneno commented on #371
when  project contains an unmanaged dll

[2020-09-23 02:17] jzabroski commented on #371
Are you referring to this package https://github.com/bp74/Zstandard.Net

[2020-09-23 02:19] codeneno commented on #371
yes ,we pack mysql.data( own),and mysql.data refer it (contains libzstd.dll)

[2020-09-23 19:30] ogazioglu opened #375 "Layout value on EntityFrameworkRazorProject"
I couldn't find any documentation for using Layout with entityframework.

What should we set to Layout property of the template when in EntityFramework project?
Should we use a templateKey, for ex. a guid?

[2020-09-24 21:20] kiran198910 opened #376 "Method not found: 'Void Microsoft.Extensions.Caching.Memory.MemoryCacheOptions.set_CompactOnMemoryPressure(Boolean)'."
Getting error while parsing template as string. There is a bug happened for CreatePhysical. And Error message is Method not found: 'Void Microsoft.Extensions.Caching.Memory.MemoryCacheOptions.set_CompactOnMemoryPressure(Boolean)'.

 IRazorLightEngine mail_engine = EngineFactory.CreatePhysical(HostingEnvironment.MapPath("~/Templates"));

I have no idea the reason and how to resolve it.

*Informatio

[2020-09-24 21:34] jzabroski commented on #376
@kiran198910 Are you really using RazorLight 1.1?

[2020-09-24 22:37] kiran198910 commented on #376
Yes, I am using Razorlight 1.1.0
![Screenshot 2020-09-25 040542](https://user-images.githubusercontent.com/51714857/94207114-8bd1c300-fee4-11ea-813b-bb2b8c9d442a.png)

[2020-09-24 22:42] jzabroski commented on #376
Use the 2.0.0-beta10 release please.  We're getting very close to an
official non-beta release.

On Thu, Sep 24, 2020 at 6:37 PM kiran198910 <notifications@github.com>
wrote:

[2020-09-24 23:25] kiran198910 commented on #376
Now I have upgraded RazorLight version to 2.0.0-beta10. I am trying to parse HTML template to string. Here is my code
` var engine = new RazorLightEngineBuilder()
                            .UseFileSystemProject(HostingEnvironment.MapPath("~/Templates"))
                            .UseMemoryCachingProvider()
                            .Build();

             var model = new { Name = "John Doe"

[2020-09-24 23:34] jzabroski commented on #376
On the builder, there is an extension method `SetOperatingAssembly`.  You can set to to `Assembly.GetEntryAssembly()` if that is where you locate your RazorLight assemblies.

[2020-09-27 11:00] #370 closed

[2020-09-28 18:23] devssharma commented on #376
I am getting bellow error,  do we have any fix of this issue

Method not found: 'System.Collections.Generic.IList`1<Microsoft.Extensions.Primitives.IChangeToken> Microsoft.Extensions.Caching.Memory.MemoryCacheEntryOptions.get_ExpirationTokens()'.

[2020-09-28 18:26] jzabroski commented on #376
@devssharma What version of RazorLight are you using?

[2020-09-28 19:23] devssharma commented on #376
@jzabroski i am using RazorLight 2.0.0-beta9 in .net core 3.1 project.
![image](https://user-images.githubusercontent.com/18284303/94476426-17ea3000-01ee-11eb-89af-29e315fa5e28.png)

[2020-09-28 22:43] jzabroski commented on #355
@Basyras I think we can close this now that beta10 is shipped, yes?  I do need to create release notes tho

[2020-09-28 22:56] Basyras commented on #355
@jzabroski Ok

[2020-09-28 22:56] #355 closed

[2020-09-28 23:33] jzabroski commented on #355
Thanks again for your help!

[2020-09-28 23:36] jzabroski commented on #376
@devssharma In looking at this more carefully, the issue seems to be that in ASP.NET Core 2.x, they removed this interface, and then put it back but marked it as obsolete before the final release.

Compare:

1. 2.2 docs: https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.caching.memory.memorycacheoptions?view=dotnet-plat-ext-2.2
2. 3.0 docs: no mention of this setting.

[2020-09-28 23:37] jzabroski commented on #376
@devssharma Can you provide your full stack trace?  We don't directly call this method *directly*, so it seems like you're referencing Microsoft.Extensions.Caching 2.2 in a .netcoreapp3.1 TFM somehow.

[2020-09-28 23:43] jzabroski commented on #376
See also: https://github.com/toddams/RazorLight/issues/69#issuecomment-604134253 -- previously another user ran into this library and reported their Nuget Package Manager went haywire and it was not RazorLight that caused the issue.  I think that's LIKELY the case here.  But you need to get much, much better at providing repro details.  You're giving me partial stack traces and no PackageReference

[2020-09-29 07:38] devssharma commented on #376
@jzabroski  I tried razor parsing in temporary .net core 3.1 console app, it successfully parsing the razor template. but my in actual lambda function (.net core 3.1) not working.

Error:
Method not found: 'System.Collections.Generic.IList`1<Microsoft.Extensions.Primitives.IChangeToken> Microsoft.Extensions.Caching.Memory.MemoryCacheEntryOptions.get_ExpirationTokens()'.

Information
OS: Windows 10

[2020-09-29 09:28] Basyras commented on #355
Glad to help ❤️

[2020-09-29 14:29] jzabroski commented on #376
Hi - I don't think I have the time to debug why this won't work on AWS Lambda.  Maybe you can open a support request with AWS as to why when you convert a console app to a lambda app, all of a sudden it stops working?  This doesn't sounds like a RazorLight problem, and AWS support is pretty good.  If they do give you good feedback, I would appreciate it if you could share what they tell you so oth

[2020-09-30 08:05] HamiltonManalo commented on #375
Hi There,

I haven't tested this personally, but in the sample project there is an example which shows how it is setup. According to the example you link layouts via PK so you seem to be on track.  https://github.com/toddams/RazorLight/blob/1e393ebf377417fc79120d5921273296f46efdd1/samples/RazorLight.Samples/Program.cs#L40

[2020-09-30 12:34] robertsundstrom opened #377 "Parts of the Razor string not compiled"
Why are some parts of the template seemingly not being compiled? It gets truncated at the end.

It all seem to render correctly in the regular Razor experience.

[2020-09-30 13:51] jzabroski commented on #377
@robertsundstrom It sounds like you're either using a fork or old release of RazorLight.,  Please follow the new issue template next time, thanks.

[2020-09-30 13:51] #377 closed

[2020-10-01 12:00] ogazioglu commented on #375
Hi,

I have tested and seen that you needn't to do anything extra. Layout should stay as .cshtml link. Provider tries to find layout with page name as templateKey in database. So, the only thing you have to do is to store your layout page in the database with its name.

Thanks again.

[2020-10-01 12:00] #375 closed

[2020-10-06 11:49] HamiltonManalo commented on #365
Hopefully this weekend I'll be able to free up some time and focus on this so we can close the issue.

[2020-10-06 17:23] msorin commented on #259
We were able to use Razorlight in a Lambda by supplying this setting
`"msbuild-parameters": "/p:PreserveCompilationContext=true"`
in the aws-lambda-tools-defaults.json file.

[2020-10-07 09:45] 564064202 commented on #371
@jzabroski  do you have fixed it?

[2020-10-14 05:43] georgeemr opened #378 "Unable to read cshtml from compiled proyect."
I'm unable to read the cshtml from a compiled dll that net core 3.1 creates when deploy the app.

**To Reproduce**
string assemblyFolder = Path.GetDirectoryName(System.Reflection.Assembly.GetExecutingAssembly().Location);
var metadataReference = Microsoft.CodeAnalysis.MetadataReference.CreateFromFile(Path.Combine(assemblyFolder, "Project.Views.dll"));
                var engine = new RazorLightEng

[2020-10-14 06:58] Aledever4i commented on #12
@KishorTiwari @lnodaba

Hello. As i understand framework realization, you cannot use base user scenario for using @inject .

But what you should do:

First way:
Expand your services collection: services.AddRazorLight()
In controller or service constructor get IRazorLightEngine service, and use it for your tasks.

Another way:
You can use example from Tests, method Ensure_Registered_Properties_Are_

[2020-10-14 13:02] kkkmail commented on #365
The same error seems to coming from this point as well:
[code]
This is with NET 5 RC2 today. I am not sure if this is related though... So, please, disregard if it is not.

[2020-10-15 17:35] HamiltonManalo opened #379 "Change Logs"
With the release of beta10 I had the realization that currently were not creating change logs with each release. One recent PR I created had a major breaking change in it that was released without any kind of notice. I realize this is quite a bit of work. But would the community, and @jzabroski consider attempting to maintain a change log and make submitting change log details part of the PR proce

[2020-10-15 17:36] HamiltonManalo commented on #365
@kkkmail A fix hasn't been implemented for this yet. I'm going to begin working on it tonight (better late than never) and it should make it into the Beta11 release.

[2020-10-15 20:28] ADNewsom09 commented on #365
I created a quick simple PR that changes to using StringBuilder. #380

[2020-10-15 21:14] jzabroski commented on #379
I've been creating release notes. I didn't do it yet for beta10 since I was
heading on vacation.

On Thu, Oct 15, 2020, 1:35 PM HamiltonManalo <notifications@github.com>
wrote:

[2020-10-16 22:32] TheWrightDev commented on #347
@itniels Were you able to work around this at all? We have a 4.7.2 project we'd like to use with RL, but ran into the same issue.

[2020-10-16 22:45] jzabroski commented on #347
I think the fix is to have netstandard2.0 use the pre-FrameworoReference code. I'm still on vacation but will look into this next week.

[2020-10-18 08:36] itniels commented on #347
Hi @TheWrightDev, I did not no, we put the project on ice for a bit.

[2020-10-18 12:45] HamiltonManalo commented on #379
Ah, sounds good then.

[2020-10-18 12:45] #379 closed

[2020-10-20 17:04] jzabroski opened #381 "Create WPF net472 demo with CefSharp"
**Is your feature request related to a problem? Please describe.**
We could use examples of how to use RazorLight against various TFMs, including net472.  One question of how to do this is where does the output of the HTML get sent to.  CefSharp provides a flexible medium for displaying HTML.

**Describe the solution you'd like**
Implement Example Hello, World app using CefSharp.Wpf nuget package.

[2020-10-21 09:32] pkruk2 opened #382 "Question: only generating .cs from .cshtml"
Hi,

I would like to generate .cs from .cshtml files. I don't need/want to render them.

1. Is there an easy way to do it? I looks like it's done in `RazorSourceGenerator.GenerateCodeAsync`, what would be the best way to use it?
2. I've created web app with `dotnet new mvc` and took a look at RazorLight-generated .cs file for Index.cshtml and compared it with .g.cs generated during `dotnet build`.

[2020-10-21 12:52] jzabroski commented on #382
Cool idea.

I'm a bit confused as to what I am looking at.  Is [Index.cshtml.razorlight.cs.txt](https://github.com/toddams/RazorLight/files/5414845/Index.cshtml.razorlight.cs.txt) generated via `RazorSourceGenerator.GenerateCodeAsync`?

There are going to be significant differences between your regular Razor files and RazorLight, as you can see.  There is magic around the razor template page base

[2020-10-21 14:13] pkruk2 commented on #382
Yes, I just added code to dump generated code to a file in that function, around line 80:

[code]

Does it mean that in general it's not possible to generate code for actual .cshtml/.razor files that are used in web applications?

[2020-10-21 14:47] jzabroski commented on #382
For your use case, you should not use RazorLight.  You can use RazorLight for some inspiration on how to call the razor engine, but you're really misapplying the library and building on quicksand.  You are better off creating a separate project.  Have you seen if anyone else has built any Razor analyzers for .NET Core?  I think there were some for ASP.NET MVC Classic razor, but believe those went

[2020-10-21 14:48] #382 closed

[2020-10-21 15:10] pkruk2 commented on #382
Thanks for information.

I haven't seen any standalone Razor analyzers for asp.net core. It should be possible to write such analyzer for example for Visual Studio, where VS handles compilation and provides you Roslyn parse tree. Although I don't know how would it work if the razor file was excluded from compilation...

[2020-10-28 17:05] Simonl9l commented on #70
@toddams - is this still in the pipeline? I'm using FluentEmail 2.8.0 and that seem to be referencing RazorLight 2.0.0-beta1

Do you have any workarounds for @Url.Content such that I can set up a path to an image in an cshtml layout.

[2020-10-28 18:11] jzabroski commented on #70
@Simonl9l Can you try using a tag helper that does the my-src="kittens.png".  Have not tried it myself but I believe it may work.

[2020-10-28 22:08] Simonl9l commented on #70
Hi @jzabroski thanks - will have to investigate tag helpers. Not sure they work with FluentEmail...

[2020-10-29 02:31] Simonl9l commented on #70
@jzabroski - all Im find in [this](https://github.com/toddams/RazorLight/wiki/Tag-Helpers) and that's not very helpful

To be more specific, I have the StaticFiles Service enabled I have a file in my `wwwroot` and want to reference an image in my layout.cshtml.

I see in TemplatePageBase the Href method is commented out...
https://github.com/toddams/RazorLight/blob/badbd178564ba59934368161c7c140fa

[2020-10-30 03:15] jessicah opened #383 "Unable to instantiate in asp.net core 5.0 project"
**Describe the bug**
`services.AddRazorLight()` doesn't appear sufficient to register types needed for DI to work.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
RazorLight dependencies registered and able to run project.

**Information (please complete the following information):**
 - OS: Windows 10
 - Platform: .NET Core 5.0 (ASP.NET Core)
 - RazorLight: 2.0.0-b

[2020-10-30 05:00] jessicah commented on #383
I managed to workaround the issue by hoisting the `RazorEngine` instance out of `AddRazorLight()`, then adding the following:
[code]

But it would be nice to not have to do this... although now I'm blocked on https://github.com/toddams/RazorLight/issues/365, so I don't know if it's fully resolved yet.

[2020-10-30 15:10] maxbanas commented on #378
What version are you using and what's your project structure look like?

Is `Project.Views` a separate project/assembly where your .cshtml files are located? If so, I believe you need to pass a type that exists at the root of your `Project.Views` project to `UseEmbeddedResourcesProject` (Or you use the other signature: `UseEmbeddedResourcesProject(Assembly assembly, string rootNamespace = null)` )

[2020-11-03 16:35] jzabroski opened #384 "TemplatePageBase Href commented out"
@jzabroski - all Im find in [this](https://github.com/toddams/RazorLight/wiki/Tag-Helpers) and that's not very helpful

To be more specific, I have the StaticFiles Service enabled I have a file in my `wwwroot` and want to reference an image in my layout.cshtml.

I see in TemplatePageBase the Href method is commented out...
https://github.com/toddams/RazorLight/blob/badbd178564ba59934368161c7c140fa

[2020-11-06 21:42] Eonasdan opened #385 "Using a layout file with embedded resources"
Hi. Thanks for this great project. It makes send nicely formatted emails so much easier.

Using the file system engine, I can include something like this in one of my templates

[code]

I don't want to relay the file system in prod so I'm looking at changing the engine to use embedded resources, however this results in an exception of `Project can not find template with key _Layout.cshtml`. Both f

[2020-11-09 02:27] ryburn52 commented on #357
@jzabroski tag helpers would be very useful for email templates, you would be able to use something like this https://github.com/XmlmXmlmX/InkyTagHelpers so you don't have to write html like it's the 90's

[2020-11-09 02:29] ryburn52 commented on #21
I was hoping to use these tag helpers for our emails so we don't need to write html like its the 90's.
https://github.com/XmlmXmlmX/InkyTagHelpers

[2020-11-11 16:57] nm-a opened #386 ".NET 5.0 Support"
Hi,
Just would like to know the tentative timeline for .NET 5.0 Support. Do you have a plan in place currently?

Thank you

[2020-11-11 17:04] jzabroski commented on #386
No plan to work on it at the moment.  Happy to accept PRs, as well as give guidance.  There is really one or two minor issues that need addressing, plus some testing that needs to happen.  Free Time is the bottleneck on my side right now.

[2020-11-11 17:09] jzabroski commented on #386
I just merged one blocking issue, so I think there might be one other blocker.

[2020-11-11 17:13] jzabroski commented on #383
@jessicah  I merged #365 fix this morning and will release this week.  Thank you for your patience.

[2020-11-11 17:15] jzabroski commented on #378
@maxbanas I wonder if we should add a debug mode that dumps all known keys as part of the error message.  So the Exception should be TemplateNotFoundException and has a List<string> KnownTemplateKeys, which is passed by the Razor Project System.

[2020-11-11 17:16] jzabroski commented on #378
One thing I do in similar projects (like FluentMigrator) is I create an EmbeddedResourceUtility that computes the longest subsequence match and/or Levenshtein distance for all known embedded resource paths vs. the one being searched for.

[2020-11-11 17:17] jzabroski commented on #376
@devssharma Did you ever get any help from AWS Support on this?

[2020-11-11 17:20] jzabroski commented on #372
@ldubrois Can you answer whether you were using RazorLightEngineBuilder or not?  Thanks.  It would help save time writing a regression test to cover this scenario.

[2020-11-12 09:26] ryburn52 opened #387 "Default Namespaces does not appear to work"
**Describe the bug**
When using the following setup. Adding Default Namespaces appears to have no effect as i am receiving messages similar to

**To Reproduce**
I've broken it down to the simplest console app i could make.

[code]

**Expected behavior**
It should be able to find types in the default namespaces added during setup.

**Information (please complete the following information):**
 - OS:

[2020-11-12 10:01] Watchwolf opened #388 "Linking bug - when using without adding all dlls in the project"
**Describe the bug**
Can't load dll, the manifest definition is different from the assembly.

**To Reproduce**
- I create a dll which use RazorLight 2.0 Beta 10 installed with Nuget.
- I compile it and then copy all dlls from Debug\ into my second project (command line tools).
- I reference ONLY my dll in the second project
- When I run my second project I have the error :

"Impossible de charger

[2020-11-12 12:33] nm-a commented on #386
hi @jzabroski
I have upgraded all the nuget packages to .NET 5.0 (added .net 5.0 new target framework and removed netcoreapp2.0). Returning below error when I try to create a pull request.

![image](https://user-images.githubusercontent.com/7089157/98938968-b87e8000-250e-11eb-8f2f-e42cb360d74c.png)

Thank you

[2020-11-12 14:42] maxbanas commented on #378
I think something like that would be super helpful. Even though it's pretty straightforward, I've messed up the template keys multiple times and have had to come back and check the readme (especially when the templates are outside of my main project). So I could definitely see how this could be a roadblock for some people just starting out.

[2020-11-12 16:05] maxbanas commented on #387
[It looks like default namespaces are ignored for `TextSourceRazorProjectItem`'s. ](https://github.com/toddams/RazorLight/blob/4c5ff44c91fc4468d3e273ba9aab72088e3ce243/src/RazorLight/Generation/RazorSourceGenerator.cs#L135-L138) Your example seems to work when I comment out those lines, but based on [this test](https://github.com/toddams/RazorLight/blob/4c5ff44c91fc4468d3e273ba9aab72088e3ce243/tes

[2020-11-12 17:05] maxbanas commented on #385
What version/platform are you using? This seems to work for me with the latest from master and dotnet core 3.1.

[2020-11-13 01:47] ryburn52 commented on #387
This seems to be the method FluentEmail.Razor uses, I assume because it makes sense to embed your email templates. Is there an alternative that would work with embedded templates?

[2020-11-13 02:01] jzabroski commented on #387
I would have to dive into the twists and turns in the cave to say for sure, but I think the reason this test exists is because string rendering doesn't have a project system, and I think (to date) the code assumes you use a project system to opt in to (a) tag helpers (b) default namespaces.  Exactly why this assumption needs to be true, I don't really know and/or have a good reason other than it c

[2020-11-13 14:47] maxbanas commented on #387
@ryburn52 I'm not sure if I'm understanding correctly, but if you are embedding your template then default namespaces should work. For example, if you have an embedded resource file `test.csthml`, with the content:
[code]
You would use `engine.CompileRenderAsync("test", model);` and your default namespaces should be picked up.  (instead of `CompileRenderStringAsync`)

As a side note, it looks like

[2020-11-13 17:10] maxbanas commented on #378
@jzabroski I've been thinking about this a bit. If we're on the same page, I can work on a pull request.

To build the exception, we would need `RazorLightOptions` to determine the debug mode (and include any dynamic template keys?), and a list of known template keys specific to a project type, which I assume would be implemented in `RazorLightProject` (something like `IEnumerable<string> GetKnown

[2020-11-13 17:24] jzabroski commented on #378
@maxbanas Yes, I think this also links back to the other discussion we had yesterday about TextSourceRazorProjectItem. https://github.com/toddams/RazorLight/blob/badbd178564ba59934368161c7c140fa5906eee1/src/RazorLight/Razor/TextSourceRazorProjectItem.cs

[2020-11-13 17:36] jzabroski commented on #387
Yes, this should work for embedded templates, but it cannot work for text templates.  Somewhat related is the discussion @maxbanas and I are having in the other threat, where RazorSourceGenerator doesnt know the project system a project item comes from.  As a result, there is no clean way to pass down default namespaces.

The simplest workaround to try would be to prefix your test templates (raw t

[2020-11-13 17:42] jzabroski commented on #387
@ryburn52 Looking at your program more closely, I need to confirm a hypothesis, but I believe we added an overload for raw string rendering and it looks like you are calling raw string rendering while using an embedded template.  If so, that is probably why I was not psyched about supporting a raw string rendering overload (but I did it because a lot of people were using raw string rendering due t

[2020-11-13 20:36] Eonasdan commented on #385
I'm using the latest from nuget (2.0.0-beta9). Let me see if I can get a small repo to reproduce

[2020-11-13 21:00] Eonasdan commented on #385
https://github.com/Eonasdan/razorlight-385

There are two method in [the service](https://github.com/Eonasdan/razorlight-385/blob/master/RazorLitePoc.Services/Test.cs). One of them uses a path (which you'd have to adjust) and the other tries to use the templates via the embeds. The embed fails with the exception above.

[2020-11-16 02:20] Pete-PlaytimeSolutions commented on #365
I noticed that the fix for this has already been merged. Will Beta11 be available soon?

[2020-11-16 16:02] jzabroski commented on #388
@Watchwolf Why do you think this is a bug with RazorLight and not an incorrectly configured csproj by your consuming app?

It is a bit strange that you are manually copying dll's around.  This sounds like an x-y problem.  Why are you copying dll's around manually vs. using the new csproj SDK project system that computes the transitive closure of dependencies and builds a correct deps.json file, ru

[2020-11-16 16:03] jzabroski commented on #388
Basically, the moment you copy dll's, and subvert the nuget/msbuild pack/publish/restore system cycle, you have opted out of everything that should protect you from these linking bugs.  (There are a few holes in this system, but if you're subverting the system to start by copy-pasting, I don't think that's something I know how to support, and I don't think anyone else would support that scenario,

[2020-11-16 17:09] maxbanas commented on #385
For your embedded resource project, the key for _Layout.cshtml would be "EmailTemplates._Layout.cshtml". So in NotificationDigest.cshtml, you would set the layout like this:

[code]

[2020-11-16 18:49] devssharma commented on #376
@jzabroski My problem was resolved with existing library so I didn't contacted them.

Thank you so much for help on this.

[2020-11-16 19:05] #376 closed

[2020-11-17 15:00] jzabroski commented on #386
@nm-a I just published to nuget.org.  Should show up in about an hour.  Thanks for your help.  If you'd like to contribute more I have some suggestions for a hackfest.

[2020-11-17 15:00] #386 closed

[2020-11-17 15:05] jzabroski commented on #383
@jessicah Please update to 2.0.0-rc.1 package.  Let me know if you run into any issues.  Closing for now.

[2020-11-17 15:05] #383 closed

[2020-11-17 15:18] Eonasdan commented on #385
Thanks that was the ticket

[2020-11-17 15:18] #385 closed

[2020-11-17 15:28] Pete-PlaytimeSolutions opened #390 "2.0.0-rc.1 Targeting .NETStandard 2.0 doesn't allow upgrading of v5 of framework libraries"
.NETStandard 2.0 dependencies do not allow upgrading beyond V 3.0.0

e.g.
Microsoft.Extensions.Caching.Abstractions 5.0.0 is disallowed, even though this version of the library should be available for .NETStandard 2.0

**Expected behavior**
Should be allowed to upgrade dependent packages like Microsoft.Extensions.Caching.Abstractions to version 5.0.0

[2020-11-17 15:33] maxbanas commented on #378
It looks like you're preparing an rc.  I haven't had time to fully implement the "debug mode" and exception message changes, but if the exception type thrown in `RazorSourceGenerator.GenerateCodeAsync(RazorLightProjectItem projectItem)` is going to change, it might be good to get those into the next major version. I've opened pr #391

[2020-11-17 15:37] jzabroski commented on #390
Hi,
If I understand your point,
https://github.com/toddams/RazorLight/blob/master/src/RazorLight/RazorLight.csproj#L21-L33

disallows the following project structure:

[code]

because Nuget will detect a version conflict in that RazorLight caps the version number on dependencies at at UP TO 3.0

To which I would ask - can you switch the netstandard2.0 csproj to use net5.0?

[2020-11-17 15:43] jzabroski commented on #378
@maxbanas The rc suffix is mainly due to the fact we screwed up the semver 2.0.0 naming convention.  It was the only way to get the nuget gallery to display the latest package at the top.  Most people didnt download the beta10 release because of this mistake.  I changing it to use correct dotted identifiers convention of semver 2.0.0 and had to pick an alphabetical identifier higher than the word

[2020-11-17 15:57] Pete-PlaytimeSolutions commented on #390
Ideally, I need my csproj to be able to target both netstandard2.0 and net5.0,
otherwise I cannot upgrade any of my other 50 odd libraries to use v 5.0.0.0 of the Microsoft.Extensions.* libraries, or have an incomplete set...

[2020-11-17 16:00] jzabroski commented on #390
Why can't you use <TargetFrameworks>netstandard2.0;net5.0</TargetFrameworks> and then add conditions downstream?

Can you explain why you need to target netstandard2.0?  I just don't know every combination people deploy RazorLight with and its these unexpected combinations that are extremely hard to regression test against.

-----
**BELOW MIGHT BE AN INCORRECT ANALYSIS ON MY PART.  IT IS MY ATTEMP

[2020-11-17 16:09] jzabroski commented on #390
I think I understand your problem.

You have this:

[code]

And you have interdependencies between RazorLight and those other packages (e.g., tag helpers, whatever). So it's non trivial to segregate RazorLight from everything else and put it into a net5.0 library so that the late binding of dependencies agrees on/unifies to a common nuget package version.

Is that correct?

[2020-11-17 16:11] jzabroski commented on #390
Can you share the csproj.  I really just need the TargetFramework(s) and PackageReferences.

[2020-11-17 16:12] Pete-PlaytimeSolutions commented on #390
Targeting both is what I am doing, across a suite of about 50 different projects, that roll out as a set.
By being restricted to UP TO V 3.0 by including RazorLight-2.0.0-rc.1, it prevents me being able to include the single Communications library, as part of the rest of my suite of packages.

If I am understanding correctly, the RazorLight package actually requires a FrameworkReference.
If that i

[2020-11-17 16:21] jzabroski commented on #390
@Pete-PlaytimeSolutions I tried to figure out how to make it as generic as possible, but it's quite complicated.  I ran into a bunch of unexpected things, and have been trying to keep track of a list of potholes to keep my head straight .  My above description of what I think is happening I believe to be correct, but I also don't have the precise info as to why readily available (I can guess at wh

[2020-11-18 00:08] Pete-PlaytimeSolutions commented on #390
Maybe just a looser version range for the generic netstandard2.0 target, (i.e. without specifying the max version)
could provide a more flexible setup... The max version restriction, is probably only relevant when targeting a specific FrameworkReferences...

e.g.
<ItemGroup Condition="'$(TargetFramework)' == 'netstandard2.0'">
    <PackageReference Include="Microsoft.CodeAnalysis.Razor" Version="2

[2020-11-18 05:05] ryburn52 commented on #387
@jzabroski @maxbanas Thanks for the update, So this is the Method FluentEmail.Razor uses

https://github.com/lukencode/FluentEmail/blob/4b9740bb1b1df9750f0d7043f6ca6c72bc39b86f/src/Renderers/FluentEmail.Razor/RazorRenderer.cs#L40

Not my project but i was looking at doing a .net core upgade and adding support for default namespaces.

So it looks like the issue is that they are trying to support mu

[2020-11-18 05:17] ryburn52 commented on #387
Based on this discussion though, i would expect to see both compile methods used depending on the project?

It looks like the `CompileRenderAsync` signature has changes in the latest version, you no longer provide a template. How does it know what template to use? is this matched based on the key param depending on the project type? eg if it's file system then a path to the file, if embedded then

[2020-11-18 05:26] ryburn52 commented on #387
Yeah it looks like this was changed to the `CompileRenderStringAsync` overload in the PR i was branching off, https://github.com/lukencode/FluentEmail/pull/186/files#

Probably because the signature changed?

[2020-11-18 09:48] Vincentvwal commented on #390
We are currently also running into this issue, When running the older beta versions it works, however we also use a personal shared nuget package which includes Microsoft.Extensions.Caching.Memory 3.1.1

So including this into our .net standard project currently this does not work.
Personally i would also like for .net standard to only use the minimal version but not the maximum.

[2020-11-18 13:25] jzabroski commented on #390
We can give it a shot and see whether it surfaces any issues

[2020-11-18 13:27] jzabroski commented on #390
@vincentvwal for my knowledge, what target framework(s) consume your netstandard2.0 csproj

[2020-11-18 13:30] jzabroski commented on #390
That way any class libraries using RazorLight, really only care about the minimum version requirement.
Only once the class library is then included in a hosting project (that specifies the framework version being targeted), is the version range enforced....

I think it depends on how and whether a FrameworkReference places an implicit upper boundary on major versions. I am curious and will use dot

[2020-11-18 13:33] Vincentvwal commented on #390
We mainly use .net Core 3.1 as consumers, however our project also consists or a public package (.net standard 2.0) which gets included in .net Framework 4.6.1. this public package does not contain the RazorLight package.

Our full references in out templating project are currently (not working due to packages from the rc.1)
`  <ItemGroup>
    <PackageReference Include="REDACTED.Utilities.core" Ve

[2020-11-18 13:35] jzabroski commented on #390
Thanks for that info. Replying by email because something in your
formatting is causing FastHub mobile app to crash.

On Wed, Nov 18, 2020, 8:33 AM Vincentvwal <notifications@github.com> wrote:

[2020-11-18 16:34] jzabroski commented on #390
Pushed 2.0.0-rc.2

[2020-11-18 16:34] #390 closed

[2020-11-18 16:46] jzabroski commented on #390
Some final thoughts:

1. FrameworkReference is fairly confusing, since they don't show up on nuget.org (I just realized this now).
2. When you're in a netcoreapp3.1 context, netstandard2.0 should bind to Microsoft.Extensions.* packages in the [3.1,4) version range, because RollForward is Minor and you're referencing a FrameworkReference to Microsoft.AspNetCore.App which will resolve to 3.1 right n

[2020-11-18 16:48] jzabroski opened #393 "Add .editorconfig entries for xml file types"
Most recent PR for net5.0 support (which edited the xml csproj) has misaligned indentation, which I just noticed now. To my surprise, the .editorconfig doesnt have entries for xml file types.

[2020-11-19 01:42] Pete-PlaytimeSolutions commented on #390
Thanks John, 2.0.0-rc.2 is working a treat!

[2020-11-19 17:17] maxbanas commented on #387
@ryburn52

Pretty much, I think. The key is provided to the `RazorLightProject` project through the `Task<RazorLightProjectItem> GetItemAsync(string templateKey)` method. The exact key path depends on the options you pass to the `.UseEmbeddedResourcesProject` or `.UseFileSystemProject` builder methods.

This is kind of strange to me too. Especially considering that some engine builder options like

[2020-11-19 18:48] maxbanas opened #394 "RazorLightEngineBuilder throws unexpected exception when .AddDefaultNamespaces is used"
**Describe the bug**
`RazorLightEngineBuilder` throws an exception when `.AddDefaultNamespaces` is used, even `options` is never set by `.UseOptions`:
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
No exception should be thrown.

[2020-11-20 01:37] jzabroski commented on #387
@maxbanas Thanks, that's great research. I doubt Ivan remembers why and  I try not to bug him these days as he hasn't been involved in a while.

[2020-11-22 07:11] georgiosd commented on #350
Hey @jzabroski - what's the status of this? I'm getting a similar error on Windows now with RC2!

[code]

[2020-11-22 21:38] jzabroski commented on #350
This appears to be a different error than the one you previously reported.

Can you please check how you are registering RazorLight with your container?

[2020-11-23 20:30] georgiosd commented on #350
You're right, I mixed up the issues. I solved this one by doing `services.AddSingleton(Options.Create(engine.Options))`

[2020-11-23 21:22] jzabroski commented on #350
@georgiosd As a check - is this original issue now also resolved on MacOS?  If yes, for what target frameworks did you confirm it now works.  Thank you.

[2020-11-24 08:40] ryburn52 commented on #387
@maxbanas @jzabroski  Thanks for the help, Considering that this would either require a change to Razor Light or a Major refactor of Fluent Email so it relies on Razor Light Projects for embedded templates. We've decided to try a different email library.

We were using Postal so we'll try the Postal .net core fork

[2020-11-24 08:40] #387 closed

[2020-11-24 12:45] knuxbbs commented on #317
The workaround proposed by @twenzel only works for **2.0.0-beta4**. The **2.0.0-rc.2** version throws:

There is a sample project: https://github.com/knuxbbs/RazorLightSample

[2020-11-24 12:51] knuxbbs commented on #378
@maxbanas I've tried your solution, but the problem persists. I still got "TemplateNotFoundException" when a try to read a cshtml file from a Razor Class Library.

This is my sample project: https://github.com/knuxbbs/RazorLightSample

[2020-11-24 13:20] edvinklaebo commented on #317
@jzabroski
You need to setup the service provider to validate on build like this:
[code]

[2020-11-24 13:47] knuxbbs opened #396 "Add Razor Class Library sample"
**Is your feature request related to a problem? Please describe.**
There isn't any sample using cshtml files, only strings. I think that the majority of users come to this repo to found a solution that uses the capabilities of Razor views and pages.

**Describe the solution you'd like**
Create a project which uses a Razor Class Library to share templates with another project.

[2020-11-24 13:48] knuxbbs commented on #396
I've tried to create a sample here, but without success: https://github.com/knuxbbs/RazorLightSample

[2020-11-24 14:06] maxbanas commented on #378
Fixing the following issues in your sample project worked for me:

1.  The template key is wrong. It should be "Areas.MyFeature.Pages.Page1", not "RazorClassLibrary.MyFeature.Pages.Page1".
2.  The Build Action for Page1.cshtml is "Content". It should be "Embedded Resource"
3.  It looks the `@page` directive in `Page1.cshtml` causes issues. I just removed that line.

As a side note, I ran into [thi

[2020-11-24 14:19] knuxbbs opened #397 "Improve documentation"
**Is your feature request related to a problem? Please describe.**
As pointed in #396 , there is very little guidance to an user who wants to use your Razor views and pages as templates to another purposes.

**Describe the solution you'd like**
First of all, seems like this library doesn't work with pre-compiled views (#35), which is the default output for ASP.NET Core applications. This should be

[2020-11-24 15:13] jzabroski commented on #397
@knuxbbs Thanks for your constructive feedback.  After I took over this project from toddams, I did not know all the legacy stuff hanging around.

Technically, there is a `Razorlight.Precompile.csproj`.  I just don't pack it because I don't want to support it, because I don't have the time to add test coverage (yet).  And, with precompilation resulting in a standalone assembly, if people are not s

[2020-11-24 15:55] maxbanas opened #398 "Add debug mode and include known template keys in TemplateNotFoundException"
**Is your feature request related to a problem? Please describe.**
It can be tricky for new users to figure out the correct template key to use (#378, #385, etc.)

**Describe the solution you'd like**
Create a "debug mode", that when enabled, adds known template keys to the `TemplateNotFoundException`.

**Additional context**
Originally discussed [here](https://github.com/toddams/RazorLight/issues

[2020-11-24 15:58] maxbanas commented on #378
@jzabroski  I've started working on the feature we discussed and created a new issue, #398, so we can stay on topic (and close this issue if you want).

[2020-11-24 17:01] jzabroski commented on #398
Great.  Really excited for this feature.  Think it will be super helpful.

As a separate topic, the other major pain point people have is troubleshooting why assemblies don't load correctly.  I have a new idea on that based on MetadataLoadContext, which is the side-effect free dual to AssemblyLoadContext (it just loads the assembly _metadata_ *as data* as opposed to the actual assembly *as a dll*)

[2020-11-24 18:30] #394 closed

[2020-11-24 18:34] jzabroski commented on #397
@maxbanas I wonder if we can detect when the stack trace can't decode `@inject` and point to a Wiki page with info?  The most common reason this occurs is because people bypass RazorLightEngine and/or RazorLightEngineBuilder (which registers the inject callback handler).  This usually occurs when people render strings as templates, as opposed to embedded resource .cshtml files or file system .csht

[2020-11-24 19:02] maxbanas commented on #398
[Here's](https://github.com/toddams/RazorLight/compare/master...maxbanas:feature/398) the work in progress. A brief summary/things to consider:
- `RazorLightOptions` now has an `EnableDebugMode` flag, and `RazorLightEngineBuilder` has an option to set it.
- `RazorLightProject` now has a method, `GetKnownKeysAsync`. I figured it would be best for this method to be virtual so we don't break anyone's

[2020-11-24 21:31] jzabroski commented on #398
Empty enumerable for now.  Makes reasoning about control flow easier.

One review item: https://github.com/toddams/RazorLight/compare/master...maxbanas:feature/398#diff-faaf482eb73b368fd3c2aeb32459b8cf25da987a137c77fff3145e741591b520R298

I believe you have a typo in one of the propNames, perhaps due to using auto-complete.

As far as improvements, I think this is good enough to release pretty muc

[2020-11-25 13:02] knuxbbs commented on #317
For **2.0.0-rc.2**, what worked for me was registering `IRazorEngine` before call `AddRazorLight`.

[code]

[2020-11-25 14:22] jzabroski commented on #317
@edvinklaebo - so, you're saying the following test is incorrect?

https://github.com/toddams/RazorLight/blob/4fb414a87412f4bbbff96db8849980993a3060ba/tests/RazorLight.Tests/Extensions/ServiceCollectionExtensionsTest.cs#L80-L100

I am not sure why I would need to call `options.ValidateOnBuild = true;` in the test, as I am verifying `host.Services.GetService<IRazorLightEngine>();`?

Or, did you mea

[2020-11-25 14:34] jzabroski commented on #317
@edvinklaebo Hmm... I just updated the test and it looks like you're right.  Why would `host.Services.GetService<IRazorLightEngine>();` succeed?

[2020-11-25 15:17] maxbanas commented on #397
@jzabroski I've only compiled/rendered templates using the "normal" API (RazorLightEngine via the builder), so I'm not very familiar with the other services/components in a standalone context. Do you know what entry point people would use when bypassing these?

[2020-11-25 15:23] jzabroski commented on #317
@edvinklaebo I played around with your sample code and `ValidateOnBuild = true` does cause the test to fail.  You can see the above commit.

One thing I do not understand is why changing IEngineHandler to be resolved using a transient makes the ValidateOnBuild error go away.  It actually makes whatever problem theoretically worse.  So there is something ValidateOnBuild does that doesn't make sense

[2020-11-25 15:35] jzabroski commented on #317
I think I figured this out.

The issue is that since we resolve the IEngineHandler from the RazorLightEngineBuilder call, the ValidateOnBuild cannot statically verify the contents of the lambda.  The only way it can "know" that IEngineHandler cannot be resolved is because we told it about the dependency in the line before.  TryAdd does what it's supposed to do, which is only register the engine ha

[2020-11-25 15:42] jzabroski commented on #317
I think the workaround is to fail hard if people try to call the engine handler directly after calling AddRazorLight:

[code]

This might break some people, but at least the reason is fairly clear.

Feedback? Thoughts? Questions? Concerns?

[2020-11-25 15:49] jzabroski commented on #317
One last thought.  I guess there could be an AddRazorLightEngineHandler() extension method for those that don't want RazorLightEngine.  The exception message could then be updated to suggest a call to action to "Consider using AddRazorLightEngineHandler() instead."  But that still has to deal with things RazorLightEngine bundles, like support for `@inject`, dynamic templates, and any other callbac

[2020-11-25 16:02] #317 closed

[2020-11-25 16:24] jzabroski commented on #397
@maxbanas People use IEngineHandler directly, since its a thin wrapper around the Razor compiler.  The RazorLightEngine is the project system, and value added callbacks like `@inject`, dynamic templates, etc. that EngineHandler itself doesnt know or care about.

[2020-11-25 16:25] jzabroski commented on #397
See #317 where I just closed a bug which really only occurred because I was trying to handle the scenario where people call IEngineHandler directly and wonder why AddRazorLight doesnt work for them.

[2020-11-25 16:46] #398 closed

[2020-11-25 16:48] jzabroski commented on #396
@knuxbbs Can you elaborate on what you mean "without success"?  Then I will start poking around. Thanks.

[2020-11-25 16:54] #393 closed

[2020-11-25 17:06] jzabroski commented on #368
Updated wiki page.  @RedlineTriad Let me know if this addresses your issue.

[2020-11-25 17:06] #368 closed

[2020-11-25 17:09] jzabroski commented on #371
@564064202 I will try to look at this issue this week.

@HamiltonManalo Do you have your code around still from your failed repro attempt?  That would help jump start my investigation, thank you.

[2020-11-25 17:14] jzabroski commented on #371
@codeneno Silly question, but just so we're comparing apples to apples, what version of  https://github.com/bp74/Zstandard.Net are you reproducing your problem with?  Which TargetFramework?
 @564064202 Same - what version of Mysql.Data?  I think they're removing some unmanaged dependencies, although I don't know how much remains unmanaged.  Your csproj has `<TargetFramework>.netcoreapp3.1</TargetF

[2020-11-25 19:48] knuxbbs commented on #396
Well, I got it with the help of @maxbanas in https://github.com/toddams/RazorLight/issues/378#issuecomment-732994641.

But do you think there should an example with cshtml files in the samples folder? If not, you can close this issue.

[2020-11-25 20:01] jzabroski commented on #396
@knuxbbs I definitely want to add samples for various scenarios, like hosting a net48 WPF app.  That would cover some scenarios.

The reason I want to add samples is a lot of people find out about RazorLight from blog posts that may or may not have the best practices.  Unfortunately, GitHub doesn't give me Google Analytics type insights to see what's driver traffic, and neither does Nuget.  If it

[2020-11-26 00:19] knuxbbs commented on #397
A documentation page like this would be very good: https://antaris.github.io/RazorEngine/AboutRazor.html

[2020-11-26 01:01] codeneno commented on #371
My csproj has <TargetFramework>.netcoreapp3.1</TargetFramework> and PackageReferences to Mysql.Data and RazorLight directly.

MySQL.data verison 8.0.21

[2020-11-26 18:53] jzabroski commented on #397
I'm not clear. I'm not looking to rewrite Microsoft documents on what Razor is. What do you find very good about this page?

[2020-11-30 09:13] Vincentvwal commented on #396
A while back i write the following, which is something we are using within our company.
Note that this however still uses an old release, however it should work on the new ones as well.
https://github.com/Vincentvwal/RazorLightExample

This also comes with the following guide (also, not updated for now)
https://vincentvwal.github.io/razorlight/templates/razor/email/2020/11/18/Adding-an-email-libra

[2020-12-01 19:34] maxbanas commented on #397
@jzabroski

When I create the engine handler in a way that doesn't add the inject pre-render callback, I don't see any exception being thrown until I try to use the object that was supposed to be injected. In that case I just get a NullReferenceException. It looks to me like `@inject` compiles regardless of if a callback is registered. But if the callback isn't registered, that property never gets

[2020-12-07 13:51] Watchwolf commented on #388
I'm sorry for the delay.

I have solved the problem by adding this in the app.config.

I suppose by default Windows was trying to use the dll in C:\Windows which are older, forcing the version solved the problem. (I don't install RazorLight in the executable project, only in the dll dependency).

[code]

[2020-12-07 13:51] #388 closed

[2020-12-07 17:00] Watchwolf opened #401 "I have to call build() in the exec project"
**Describe the bug**
If I do not call Build() from my exec project, I can't use RazorLight. I have this error when I call build() and CompileRenderAsync() from my library:

[code]

**To Reproduce**
- Create 2 projects : exec -> dll (call Build() and CompileRenderAsync() and reference RazorLight from gnuget)
- Run the project : the error happen when CompileRenderAsyn() is called from the dll.

**Te

[2020-12-08 15:28] jzabroski commented on #21
I think we should close this ticket and open a new one with a clear list of what needs to be done.

Off the top of my head, the core features are managing scope of the TagHelper, documented here:

https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/intro?view=aspnetcore-5.0#managing-tag-helper-scope

- [`@addTagHelper` makes TagHelpers available](https://docs.microsoft.com/en-us/asp

[2020-12-08 15:37] #365 closed

[2020-12-08 15:37] jzabroski commented on #357
See #21 - I made this sticky.

[2020-12-08 15:37] #357 closed

[2020-12-10 04:27] jzabroski commented on #381
Also, add a PDF Viewer with ability to save HTML as PDF: https://github.com/LanderVe/WPF_PDFDocument

Avalonia also has a Html Renderer component: https://www.nuget.org/packages/Avalonia.HtmlRenderer/

[2020-12-13 21:24] stugcearar opened #402 "In my cake script, I can't use CompileRenderAsync."
**Describe the bug**
One or more errors occurred. (Can't load metadata reference from the entry assembly. Make sure PreserveCompilationContext is set to true in *.csproj file

**To Reproduce**
Use CompileRenderAsync in cake script file.

**Expected behavior**
Works and create expected result.

**Information (please complete the following information):**
 - OS: macOS Big Sur Version 11.0.1
 - Platf

[2020-12-14 07:31] bugproof opened #403 "Completely disable HTML escaping"
Problem: when using RazorLight for generation of code other than HTML it still uses HTML escaping like `&lt;` `&gt;` etc.

[2020-12-14 07:33] bugproof commented on #403
didn't read this https://github.com/toddams/RazorLight#encoding

[2020-12-14 07:33] #403 closed

[2020-12-19 00:32] jbaumbach commented on #397
@jzabroski thank you so much for your work on this. I'm a little confused about how to install this component, perhaps you could give some tips and I could help update your docs.

Project: .Net Framework 4.7.1 (eventually will be .Net Core 5, but we're updating all our libs first)

1. When using Nuget to install RazorLight - there are a lot of variations for "RazorLight" by toddams in the list - I

[2020-12-19 04:37] jzabroski commented on #397
I need to push out rc3. Really I need to setup Github actions. It's just sitting on my desktop and I have not uploaded the nuget packages. I'll do it tomorrow. (I run a company and another FLOSs project and I've gotten a lot of PRs to review, so I'm a bit behind. )

[2020-12-20 17:13] jzabroski opened #404 "Use Microsoft.Extensions.FileProviders.EmbeddedFileProvider"
@maxbanas I just (re-)discovered this interface today: https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.fileproviders.embeddedfileprovider?view=dotnet-plat-ext-3.1

[2020-12-21 17:07] jzabroski commented on #402
Use Cake Frosting.  Don't use Cake Script.

Please confirm this works for you.

[2020-12-21 17:09] jzabroski commented on #401
I'm not sure what the problem is.  Are you familiar with Microsoft DI and what Build does?  Build does indeed need to get called.

Can you upload a sample project?

[2020-12-21 17:56] jbaumbach commented on #397
Great thanks for the response @jzabroski ! Let me know if there's anything I can do to help.  Our current lib is .Net framework only. Razor templates are a critical part of our update to .Net core - without a working solution the whole upgrade project is a no-go.  :(

[2020-12-21 20:41] jzabroski commented on #397
@jbaumbach If you run into issues with using it in .NET Framework, just provide me with a repro.  If you're not familiar with Git, just download Github Desktop and fork toddams/RazorLight from within GitHub Desktop.  In the **latest version of GitHub Desktop**, forking it from within GitHub desktop correctly sets up the remote origin and upstreams for you, but be careful not to dismiss the dialogs

[2020-12-21 22:32] jzabroski commented on #374
I think you should avoid v2 AzureFunctionsVersion.  It transitively uses .NET Core 2.2, which was end-of-life in December 2019.  See: https://dotnet.microsoft.com/platform/support/policy/dotnet-core and https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions

At any rate, I don't think I can support this older version.  I'm mainly just one person right now with a few people in th

[2020-12-21 22:32] #374 closed

[2020-12-21 22:33] jzabroski commented on #378
@georgeemr Can you try RazorLight-2.0.0-rc.3?  I plan one last fix before official release.

[2020-12-21 22:34] jzabroski commented on #361
Need to resolve this and merge #400 and we should be good to go for 2.0.0.

It would be great if someone could also help tackle #371

[2020-12-23 20:20] knuxbbs commented on #404
What about the `EmbedRazorGenerateSources` property from the Razor SDK? According to the [documentation](https://docs.microsoft.com/pt-br/aspnet/core/razor-pages/sdk):

RazorLight can't get these .cshtml files.

[2020-12-23 20:33] jzabroski commented on #404
We're not generating a Razor Assembly as  such, so you are correct, there is nothing to get to.  This issue is about standardization and writing less code and using common interfaces.  The aim of this project is not to re-implement all of ASP.NET Core Razor.  Microsoft literally had a team of 4 people working on Razor for years.

[2020-12-23 20:50] jzabroski commented on #359
@Tyrrrz , as an update here, @maxbanas has improved the logic around error messages / thrown exceptions when a template cannot be found.  So, I am not as opposed as I used to be towards changing this behavior.

Thinking about this and the optimal design, ideally, if we had support for tag-helpers, wouldn't you just use a TagHelper to IncludeAsync your css off a `<style />` tag via StyleTagHelper e

[2020-12-23 21:23] Tyrrrz commented on #359
@jzabroski thanks for getting back about this!

I actually ended up realizing that I was only using about 10% of RazorLight's features and have a few rather niche requirements (like being able to use `internal` models in templates), so I created a [very simple alternative](https://github.com/Tyrrrz/MiniRazor) for myself. I'm currently using C# source generators to transpile Razor templates into C#

[2020-12-24 17:04] jzabroski commented on #359
On-Topic: You'd just define a StyleTagHelper with a custom `razorlight-src` helper attribute that would let you write:

[code]
and it would internally call the equivalent of IncludeFileContentsAsync effectively.

Off-topic: I have various ways I've loaded CSS into web pages over the years.  By far my favorite conceptually was when I was using RequireJS AMD with the [requirejs/text](https://github.

[2020-12-24 17:40] Tyrrrz commented on #359
Yeah, that would've been good enough for me. I can't immediately think of other use cases right now, but maybe `IncludeFileContentsAsync` would still be useful when you need to include something that is neither `cshtml` nor `css`.

No worries, your efforts are always appreciated!

[2020-12-24 20:17] jzabroski commented on #402
@stugcearar Happy end of year - any chance you can let me know if using Cake Frosting works?

[2020-12-25 06:27] stugcearar commented on #402
Hello @jzabroski, I am working on it. I will post the result later today. Thanks!

[2020-12-25 16:45] jzabroski commented on #402
Please us RazorLight 2.0.0-rc.3 as well.  Thank you and I will try to see what you have to say.

[2020-12-30 19:08] stugcearar commented on #402
Hello, it is working. Thanks 👍🏻

[2020-12-30 19:08] #402 closed

[2020-12-30 23:13] jbaumbach opened #406 "Error compiling: The type or namespace name 'Razor' does not exist in the namespace 'RazorLight'..."
**Describe the bug**
When attempting to compile a string template and a complex model, we get the error:

[code]

[2020-12-31 00:49] jzabroski commented on #406
I need to dig into this a bit, but we started getting clever with how we handled different target frameworks in this commit: https://github.com/toddams/RazorLight/commit/d56fd12e5199c46cc6564cc0a1e6284e33ccdaf9 - so it is possible there is a bug for .NET Framework 4.7.2 since we're targeting netstandard2.0 since that commit.  I've been thinking recently that may have been a mistake, but haven't ha

[2020-12-31 15:33] jbaumbach commented on #406
Sure thing, thanks so much for checking this out.  Here's what we have so far.

[code]

[2020-12-31 20:57] jzabroski commented on #402
@stugcearar Thank you!  Feel free to publish a gist or pull request to demo it for others.  Thanks.

[2021-01-03 22:44] jzabroski commented on #406
@jbaumbach

I spent 4.5 hours today fixing the solution so that it explicitly covers .NET 4.7.2 in RazorLight.Tests.csproj #407

Can you please add a failing test once I merge this into master branch?

When I did the tests, only one failed after I added SetOperatingAssembly: `Constructor_SetDefines`.  I am still not sure why this behavior is different in .NET Framework vs. NET Core, and I tried de

[2021-01-04 00:53] jzabroski commented on #350
@georgiosd Just wondering if your original issue is resolved?  It turns out github actions supports macos images for virtual environments!

https://github.com/actions/virtual-environments/tree/main/images/macos

[2021-01-04 02:18] jzabroski commented on #299
Made real progress today on this issue by setting up GitHub Actions and configuring a build matrix for `[ windows-latest, ubuntu-latest, macos-latest ]`.

The downside to this new set-up is that `windows-latest` takes the longest, because it is additionally testing `net472` whereas `ubuntu-latest` and `macos-latest` don't test `net472`.

[2021-01-04 03:32] jzabroski opened #408 "Assembly.CodeBase is obsolete"
**Describe the bug**
DefaultAssemblyDirectoryFormatter is using Assembly.CodeBase but should use Assembly.Location

Severity	Code	Description	Project	File	Line	Suppression State
Warning	SYSLIB0012	'Assembly.CodeBase' is obsolete: 'Assembly.CodeBase and Assembly.EscapedCodeBase are only included for .NET Framework compatibility. Use Assembly.Location instead.'	RazorLight (net5.0)	D:\source\GitHub\R

[2021-01-04 03:33] #408 closed

[2021-01-04 04:01] jzabroski opened #409 "FileSystemRazorProject.Extension should not be virtual"
**Describe the bug**
This is step number one to cleaning up #359

[2021-01-04 04:02] #409 closed

[2021-01-04 04:07] jzabroski commented on #359
I think the simplest thing here is to construct a FileSystemRazorProject where DefaultExtension = string.Empty.  Similarly, the DI helpers can have a WithOption helper.

[2021-01-04 04:14] jzabroski commented on #359
FileSystemRazorProject.Extension was marked as virtual, and had a DefaultExtension value, which could be configured via constructor.

EmbeddedResourceRazorProject.Extension was not marked as virtual, and had an explicit default value of ".cshtml".  I suppose you could override this by sub-classing EmbeddedResourceRazorProject and defining a different default in that constructor, but that is very u

[2021-01-04 04:24] jzabroski commented on #351
Fixed in #407

[2021-01-04 05:52] georgiosd commented on #350
Forgive me , I haven't checked yet, give me a few days! Happy new year!

On Mon, Jan 04, 2021 at 2:53 AM, John Zabroski < notifications@github.com > wrote:

[2021-01-04 16:34] jbaumbach commented on #406
Great, thank you so much John. I will test as soon as you merge.

[2021-01-04 19:57] jzabroski commented on #406
I'm a little stuck and I don't know why exactly this worked in Travis CI with Ubuntu Bionic but is failing on GitHub (also Ubuntu Bionic).  It has something to do I think with shadow copied test assemblies not copying over the Assets/Files folder in order to run the FileSystemRazorProject tests.

I forked Andrew Lock's blog-examples repo and set-up a similar GitHub action for his XunitTheoryTests

[2021-01-04 20:05] jzabroski commented on #406
Ugh - think I figured it out.  https://github.com/dotnet/runtime/issues/29470 - Path.GetDirectoryName is dependent on which OS you run it on and what input format the path is in.  The path must be compliant with the OS you run it on.  But .NET renders Assembly.Location using Windows rules, I guess, and that value is not normalized to the OS.

[2021-01-04 23:47] jzabroski commented on #292
The fix for this is to add a sensible default in RazorLightEngineBuilder.  Either FileSystemRazorProject or EmbeddedResourceRazorProject don't really make sense to me.  We should create a  NoRazorProject that throws if you use its features.

[2021-01-04 23:50] #299 closed

[2021-01-04 23:50] #351 closed

[2021-01-04 23:53] jzabroski opened #411 "LegacyFixAssemblyDirectoryFormatter shouldnt use Assembly.CodeBase"
**Describe the bug**
We should use `#if NETFRAMEWORK` to box legacy components

[2021-01-04 23:54] jzabroski commented on #401
@Watchwolf Can you upload a sample project?

[2021-01-04 23:55] jzabroski commented on #361
@sam31897 I am going to try to release a stable this month.

[2021-01-04 23:55] #358 closed

[2021-01-04 23:56] jzabroski commented on #372
@ldubrois Any update?

[2021-01-04 23:57] jzabroski commented on #350
@georgiosd I am going to close this now that I merged #407 which covers the build matrix for RazorLight #299

[2021-01-04 23:57] #350 closed

[2021-01-04 23:59] jzabroski commented on #348
This might be resolved with #351

[2021-01-05 00:04] jzabroski commented on #397
@knuxbbs I fixed strange xmldocs issues so that should be some progress towards this task of "Improve documentation".

[2021-01-05 07:15] georgiosd commented on #350
Well done! Happy new year.

On Tue, Jan 05, 2021 at 1:57 AM, John Zabroski < notifications@github.com > wrote:

[2021-01-05 19:41] jbaumbach commented on #406
Well, that sounds pretty complicated but glad you got to the bottom of it.  Let me know when build `RazorLight 2.0.0-rc.4` is ready and I'll check it out.

[2021-01-06 01:08] jzabroski opened #412 "Missing IRazorLightEngine interface for RenderTemplateAsync<T>"
**Describe the bug**
Method to "Render a template to the specified textWriter" is not an interface on `IRazorLightEngine` interface but is implemented on `RazorLightEngine` class.

[2021-01-06 01:09] #412 closed

[2021-01-06 01:52] #292 closed

[2021-01-06 01:53] jzabroski commented on #292
Fixed.  I realized that a lot of people probably got code either from an old README.md or from https://dontpaniclabs.com/blog/post/2018/08/08/using-razor-templates-without-mvc-razorlight/ so I decided the best thing to do here was to default to using dynamic templates if you don't pick a project.

[2021-01-06 02:17] jzabroski commented on #371
@codeneno Please look at the master branch (above commit hash tag for specific moment in time).  I cannot reproduce this issue.  Can you please play with the sandbox and submit a PR with an example where this is broken?

I have a feeling that you might be using ServiceCollection incorrectly, and that your ServiceCollection is pulling in eagerly all assemblies.  You can use MetadataLoadContext whic

[2021-01-06 02:17] #371 closed

[2021-01-06 02:26] jzabroski commented on #371
I added another sandbox example where I explicitly instantiate ZStandardDictionary and load the sample file Bernhard provides in https://github.com/bp74/Zstandard.Net/blob/master/Zstandard.Net.Sandbox/loremipsum.zdict - still no repro.

[2021-01-06 03:37] jzabroski commented on #371
Added a third example where no repro is possible.

[2021-01-06 03:59] softlgl commented on #371
@jzabroski in DefaultMetadataReferenceManager.cs

[code]
DependencyContext.Load method All the dependent packages will be loaded in，If you include unmanaged assemblies, they will also be loaded。

[2021-01-06 04:15] jzabroski commented on #371
@softlgl Can you please edit the csproj - I posted three examples where I couldn't get it to fail.  Including a ridiculously unnecessarily complicated one where I tried everything I could to break it.  I even used two different versions of Zstd.

I think, most likely, this bug is somewhere in your code, and not RazorLight.  But if you have a repro, I will re-open.  Thank you.

[2021-01-06 04:20] jzabroski commented on #371
I forgot to check in loremipsum.zdict for examples 2 and 3.  It is in master now.  Sorry about that.

[2021-01-06 04:39] jzabroski commented on #360
@schmitch I looked into this, and I think using FrameworkReference is correct, but the missing piece is possibly guidance on adding trimming logic to the deployment so that we strip out stuff that isn't needed.

See: https://docs.microsoft.com/en-us/dotnet/core/deploying/trim-self-contained

Have you used this before?

@karoberts I think your approach has the downsize of not getting any bugfixes f

[2021-01-06 04:45] jzabroski commented on #360
@Tyrrrz I think the right way to handle a bloated FrameworkReference is to using trimming.  That's literally what the guidance says to do.  It stinks that FrameworkReference is not implemented as a meta-package that is stored on Nuget.org, but it is what it is.  It also stinks that trimming is documented as an "experimental" feature.  But, it is what it is, right?

[2021-01-06 14:05] Tyrrrz commented on #360
@jzabroski I think the big issue here is that by depending on ASP.NET Core, it puts a dependency on ASP.NET Core Runtime. Imagine you're building a desktop application in WPF that uses RazorLight and your end users need to install both the desktop runtime AND the ASP.NET runtime (for seemingly no reason).

I think you mean "self-contained deployments" (framework-dependent leads to the scenario I e

[2021-01-06 16:10] jzabroski commented on #360
Yes, I meant self-contained deployments.  What are you doing in Razor.Mini to avoid pulling in all the dependencies?

I started thinking through how to trim dependencies through a cleaner architecture. See: https://github.com/toddams/RazorLight/commit/76611d0d4a44ea042befc923ef4a9383fbf746fa

In this approach, I basically create my own stubs for much of ASP.NET Core components, like IUrlHelperFact

[2021-01-08 18:59] jzabroski commented on #371
Unpinning and locking thread.  Please open a new ticket with a minimal repro if you still believe RazorLight is at fault.

[2021-01-11 13:49] Tyrrrz commented on #360
I only depend on `Microsoft.AspNetCore.Razor.Language` which is pulled from NuGet

https://github.com/Tyrrrz/MiniRazor/blob/3aee7cd74263bf83186098a0f6cc13434fe466a0/MiniRazor/MiniRazor.csproj#L26

[2021-01-11 21:30] georgeemr commented on #378
Sure, sorry for the late response.

[2021-01-11 22:15] jzabroski commented on #378
I think the error you ran into was what I ran into in creating a cross-platform build.

Try `string assemblyFolder = AppContext.BaseDirectory;` instead of `string assemblyFolder = Path.GetDirectoryName(System.Reflection.Assembly.GetExecutingAssembly().Location);`

For example, this can happen if your assembly was built on Windows but used on MAC OS X.

[2021-01-11 22:17] #401 closed

[2021-01-12 07:18] kevinvenclovas opened #415 "CreateAnalyzerDriver does not have an implementation"
**Describe the bug**

I used the sample code and get following error on CompileRenderStringAsync:

`Method 'CreateAnalyzerDriver' in type 'Microsoft.CodeAnalysis.CSharp.CSharpCompilation' from assembly 'Microsoft.CodeAnalysis.CSharp, Version=3.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' does not have an implementation.`

[code]

Can someone help me ?

**Information (please complete th

[2021-01-12 14:41] knuxbbs commented on #360
Getting rid of `Microsoft.AspNetCore.App` is the way to go. Portability is more important than new features in this case.

I think that the name of this library is RazorLight because it does not depends on ASP.NET Core runtime (like `Microsoft.AspNetCore.App`).

[2021-01-12 14:44] knuxbbs commented on #360
Off topic, but [compile templates at build time](https://github.com/Tyrrrz/MiniRazor#compile-templates-at-build-time) is a feature that RazorLight should have.

[2021-01-12 15:29] jzabroski commented on #360
OK, please add it :)

[2021-01-12 15:52] jzabroski commented on #415
Can you please point to what sample code you used?  The sample logic works in the Sandbox folder.  If you're getting a dependency issue but not pasting your csproj, it's impossible to even begin debugging.

[2021-01-12 19:52] jzabroski commented on #415
Updated the bug_report.md to mention this: https://github.com/toddams/RazorLight/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2021-01-12 22:32] cksanjose opened #416 "Template content with "\r\n""
I'm using RazorLight to generate an automated email. The email is in text format.
The content contains a list of items and each item ends with "\r\n" so they are rendered in new line.

**To Reproduce**
The content is:

    "* OriginalFileName16755af9-c1ea-42f3-a0b8-e37f869a21f7\r\n"

It is rendered as:

    "* OriginalFileName16755af9-c1ea-42f3-a0b8-e37f869a21f7&#xD;&#xA;"

**Expected behavior**
A

[2021-01-13 14:44] jzabroski commented on #416
@cksanjose Can you try the DisableEncoding mentioned in the README

[2021-01-18 04:30] Place1 commented on #372
I believe i've run into the same/related problem.

I'm currently using 2.0.0-rc2 and I believe [this code](https://github.com/toddams/RazorLight/blob/2.0.0-rc.2/src/RazorLight/DependencyInjection/PropertyInjector.cs#L44) is problematic.

The linked code from the PropertyInjector creates a scope and sets the `@inject` fields inside the template but then disposes the service scope which will dispose

[2021-01-19 09:06] agross opened #419 "_ViewStart support"
**Is your feature request related to a problem? Please describe.**

I need to share ViewBag properties across templates.

**Describe the solution you'd like**

I like to define those properties once in a `_ViewStart.cshtml` file:

[code]

And use the `GlobalVariable` in my templates:

[code]

**Additional context**

Seems like ViewStart-related code is commented in [TemplateRenderer](https://githu

[2021-01-19 09:06] agross commented on #419
Currently using RazorLight 2.0.0-rc.3.

[2021-01-28 21:05] joaolongo commented on #406
Hey @jzabroski by any chance do you have an ETA of when the correction for this issue will be released?

[2021-01-28 21:47] jzabroski commented on #406
@joaolongo As far as I'm aware there are no issues. I explicitly added test coverage. Please submit a PR for a failing test and I can fix it pretty quickly. The remaining problem is I get incomplete repros.

[2021-01-29 04:43] dotnetshadow commented on #211
Hi there,

I am also experiencing this issue, has there been an update to this?

![image](https://user-images.githubusercontent.com/296247/106232668-a9bf8380-6248-11eb-8c51-eba5c1d95937.png)

[2021-01-29 08:58] ctrl-alt-d opened #426 "Experimental blazor editor disables Intellisense"
In my environment, after enabling [Experimental blazor editor](https://devblogs.microsoft.com/aspnet/improvements-to-the-new-razor-editor-in-visual-studio/#get-started), Intellisense stops work.

[2021-01-29 12:43] jzabroski commented on #426
This doesn't seem like a Razorlight issue. Can you please report a bug following the blog post you linked to. They explicitly ask for feedback.

I can update the FAQ but ideally you submit a PR with a link to your bug report.

[2021-01-29 12:45] jzabroski commented on #211
Please post your DI config. The screenshot is pretty much useless and nobody can Google search it and benefit.

[2021-01-29 13:32] #415 closed

[2021-01-29 13:32] jzabroski commented on #415
Closing due to no response. Locking as well.

[2021-01-29 13:50] dani-herrera-udg commented on #426
Hi @jzabroski , thanks about your fast reply, first of all, will be wonderful to know if more people has the same issue or just me.

If it is a generalized problem, then, I can try to code an agnostic, minimal and reproducible example about this behavior in order to open the issue. 🙌

[2021-01-29 15:13] jzabroski commented on #426
@dani-herrera-udg I'm a little frustrated here - I just explained you need to report a bug to Microsoft, not me.  You're literally using a Visual Studio feature marked as Experimental, linking me to a blog post explaining its experimental and the Project Manager at Microsoft is encouraging people to file bug reports, but you're sending bug reports _**to me**_, not Microsoft.

Am I being unreasonab

[2021-01-29 15:13] #426 closed

[2021-01-29 15:14] #416 closed

[2021-01-31 06:40] dotnetshadow commented on #211
Sorry about that, I'm using FluentEmail (https://github.com/lukencode/FluentEmail) which uses RazorLight underneath.
For my DI configuration I'm using

[code]

Not sure if that helps or not

[2021-02-01 18:23] jzabroski opened #427 "Set-up Issues Forms alpha templates"
https://github.com/gh-community/issue-forms-feedback#issue-forms-alpha

@toddams I signed us up for this new issue template feature GitHub is in alpha testing with.

[2021-02-03 07:51] toddams commented on #354
In our case - ViewBag is a dynamic ExpandoObject, and it throws in case of missing properties.
ASP.NET case - ViewBag is a dynamic wrapper around ViewData. And ViewData itself retrieves the values as follows:

[code]

This is why it gracefully returns null in case of missing property.

[2021-02-03 07:54] #337 closed

[2021-02-03 07:55] #253 closed

[2021-02-03 07:57] #169 closed

[2021-02-03 15:30] jzabroski commented on #354
@toddams I assume "it" refers to ASP.NET - Are you suggesting we match ASP.NET behavior here?  Or just explaining the difference in behavior?

[2021-02-03 15:35] amro93 commented on #354
I'd prefer following up the ASP.NET approach for checking nulls as the templates are coded in razor files

[2021-02-04 14:44] toddams commented on #354
Right. This should not be a breaking change, I doubt somebody really relies on ViewBag throwing exceptions.

[2021-02-04 15:58] jzabroski commented on #354
Well, it would require breaking the API to no longer use `ExpandoObject` and instead use something like Orchard CMS's old [Clay API](https://github.com/bleroy/clay), as well as changing the interface from `ExpandoObject` to `dynamic` and converting the dynamic object into a custom ExpandableObject .  Unless you think internally we should wrap the instance passed into the compiler.  But the current

[2021-02-05 07:21] RedX2501 opened #428 "Sharing template functions"
Looking up a lot of documentation it seems that much of the new workflow in razor with .Net Core and Blazor has the temlates being pre-compiled.

My use-case is a bit different, the user can provide their on templates which are rendered at runtime.

This has the problem that as soon as he has 2 or more templates he will probably have common functionality that he might want to use in both scripts.

[2021-02-08 22:57] tcd commented on #71
@toddams Removed from 2.0 version?

[2021-02-11 01:37] afucher opened #429 "RazorLight not working in single-file bundle"
**Describe the bug**
I'm trying to use this package but when I publish using ` -p:PublishSingleFile=true`, my application throws an error when the code touch this library.

**To Reproduce**
Steps to reproduce the behavior:
1. Build a project using RazorLight
2. Publish the project using the argument ` -p:PublishSingleFile=true`, for example: `dotnet publish . -c Release -r win-x64 -p:PublishSingle

[2021-02-12 10:55] photomoose commented on #385
In case other people come here wondering why this isn't working, note that there's a DOT between the folder name ("EmailTemplates") and the layout name ("_Layout.cshtml"), and not a SLASH.

[2021-02-17 01:20] AntonitoMt commented on #318
Hello. I am looking a way to compile in runtime a razor markup that I have in a string and convert it into an assembly. Could I do it with this tool?   Thanks

[2021-02-17 03:58] jzabroski commented on #318
@AntonitoMt I am pretty confused as to why you put this question on a closed issue unrelated to your question.  We don't support precompilation currently.  In theory, if you want to submit a PR, look at the Razorlight.Precompile.csproj to add support for that

[2021-02-17 13:45] AntonitoMt commented on #318
I apologize. My question was regarding the tool BlazorLiveReload posted by martasp.  Thank you

[2021-02-17 14:45] jzabroski commented on #318
I apologize as well.  BlazorLiveReload is a blazor-specific feature.  Blazor is technically a separate feature from Razor itself.  I still think you could get very far if you decided to submit a PR to help along the Razorlight.Precompile project.

[2021-02-17 15:50] ElementalLogic commented on #342
@HTML.Raw is flawed anyway.

Better practice to use HtmlString.
So my workaround is to directly from your RazorView you can call @(new Microsoft.AspNetCore.Html.HtmlString("<span>test</span>"))

Probably nicer to wrap that up in an extension:

public static class Html
    {
        public static HtmlString Raw(string source)
        {
            return new HtmlString(source);
        }
    }

the

[2021-02-17 15:59] ElementalLogic commented on #247
Adding that reference didn't work for me...

It seems that the .net standard build in the src project refenences old out of date nuget packages. After a lot of faffing, I managed to get a build (in .net Standard) which successfully works in class library used in .net 4.8 and .net 5 projects. But I was still left with this odd error,

I'm guessing that the compile time process is running in the wro

[2021-02-17 20:20] jzabroski commented on #247
Sorry, can you elaborate what you did?  It sounds like you want to submit a PR?  Thanks.

[2021-02-17 20:55] ElementalLogic commented on #247
I'm not sure my changes would be suitable as a release candidate, as I essentially retargeted it to just .net standard 2.0 - on the basis that can be used by .net framework 4.8 and .net 5 projects.. but in the process I noticed there were package references in the project to old versions of nuget packages.. some of these were setup as build target and version specific (for example the .net standar

[2021-02-17 23:48] jzabroski commented on #247
Did you delete your last reply?  Not sure why it didnt show up here.

I think even if it doesn't get accepted as a PR, it is instructive to help diagnose stuff for others.

[2021-02-18 09:55] ElementalLogic commented on #247
I did, simply because on rereading the entire thread I realised that it wasn't totally relevant. In the interests of full disclosure the reply was essentially this:

Out of the box I couldn't get Razorlight to work in a class library which was referenced from .net framework 4.8 and .net 5 projects. After getting the source I had to fix a number of issues and as part of that I made the project only

[2021-02-24 19:02] daharmon opened #434 "@if statements not rendering/Are they supported?"
**Describe the bug**
if I have a valid c# razor string - `@if (true == true) { <div> test </div> }` it will display the if statement text instead of just "test".

**To Reproduce**
Insert the above text into this statement
`var engine = new RazorLightEngineBuilder().UseEmbeddedResourcesProject(typeof(Program)).UseMemoryCachingProvider().Build();
           string renderedTemplate = await engine.Com

[2021-02-24 21:23] daharmon commented on #434
Sorry, our code was to blame. We were erroneously encoding @ signs to keep email addresses from have issues with an older razor templating product.

[2021-02-24 21:23] #434 closed

[2021-02-28 15:02] eralston commented on #376
Apologies poking the sleeping dog here, but this is literally the only Google result for this issue:

I am now receiving this same error as a regression bug in my project...

![image](https://user-images.githubusercontent.com/636858/109422913-57ca6480-7992-11eb-95f4-07d72c0c1a0e.png)

Except in my case it's in an Azure Function (.Net Core 3.1 using RazorLight 2.0.0-rc.2) that was previously workin

[2021-03-04 21:34] marcosdimitrio commented on #429
I experienced the same problem but with a different error message.

Everything works fine locally, but when I publish it I get:

    RazorLight: Can't load metadata reference from the entry assembly. Make sure
    PreserveCompilationContext is set to true in *.csproj file

    Stack trace:
    at RazorLight.Compilation.DefaultMetadataReferenceManager.Resolve(Assembly assembly, DependencyContext de

[2021-03-05 07:55] jeevasusej opened #435 "Documentation needed for the methods that you are supporting"
Please add document in details for the all the method and the properties that you are supporting.

For example, how to use html helpers, tag helpers, encode element etc

[2021-03-05 20:47] aevi1103 opened #436 "InplaceStringBuilder no longer exists in Microsoft.Extensions.Primitives"
can we use string.create instead the InplaceStringBuilder  is obsolete already..

https://github.com/toddams/RazorLight/blob/8e043e10423ecc0b88b49787dd597adddd4caa31/src/RazorLight/Compilation/RazorTemplateCompiler.cs#L263

[2021-03-05 20:55] #436 closed

[2021-03-07 19:02] jgmdavies opened #437 "Mono.Posix required?"
Installed in VS 2019 using the recommended:  Install-Package RazorLight -Version 2.0.0-rc.3
WinForms, .NET Framework 4.8.2.

I get:

**System.IO.FileNotFoundException: Could not load file or assembly 'Mono.Posix, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756' or one of its dependencies. The system cannot find the file specified.**

Is Mono required for RazorLight?

Thanks,
Jim

[2021-03-07 20:33] jzabroski commented on #437
Can you please provide more details

[2021-03-07 20:34] jzabroski commented on #437
E.g. full stack trace

[2021-03-08 08:30] jgmdavies commented on #437
System.IO.FileNotFoundException: Could not load file or assembly 'Mono.Posix, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756' or one of its dependencies. The system cannot find the file specified.
File name: 'Mono.Posix, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756'
   at System.Reflection.RuntimeAssembly._nLoad(AssemblyName fileName, String codeBase, Eviden

[2021-03-08 19:50] jzabroski commented on #437
This doesn't make a lot of sense.  Are you using another package like Topshelf.Unix to deploy your app?

[2021-03-08 19:51] jzabroski commented on #437
If you can copy-paste your csproj with your packages.config, that would be helpfu.  Don't believe WinForms supports modern csproj file format.

[2021-03-08 19:55] jzabroski opened #438 "Update Cake.Graph to use latest rc"
https://github.com/cake-contrib/Cake.Graph/issues/32

[2021-03-15 01:08] lloydkevin commented on #294
Broken for me in .NET 5.0

[2021-03-15 15:57] jzabroski commented on #294
Can you open a new ticket with repro details.  I am locking this thread as this issue was resolved under its previous repro conditions.  Anyone else finding this ticket from Google or Stack Overflow or Bind should do the same, thank you.

[2021-03-17 12:09] b0wter commented on #429
This also happens to me on linux (Ubuntu 20.04).

[2021-03-17 12:12] b0wter commented on #429
@marcosdimitrio :
You need to add the following into a `<PropertyGroup>` your csproj-file:
[code]
Unfortunately that will not help you fix all errors but the one you're currently encountering.
See [this](https://stackoverflow.com/questions/40426665/what-is-the-use-of-preservecompilationcontext-under-build-option-in-project-json) for details.

[2021-03-17 19:55] b0wter commented on #429
I've done some more digging an am not sure that there is anything this project can do.
[code]
calls
[code]
which calls
[code]
That method calls
[code]
which will always set `null` because there is no meaningful value to set in a single-file bundle as it can no longer point to a filename.
(See the file [here](https://github.com/dotnet/runtime/blob/79ae74f5ca5c8a6fe3a48935e85bd7374959c570/src/librar

[2021-03-28 20:55] marcosdimitrio commented on #429
I did include it in both projects (webapi and razorlight project), it only worked when PublishSingleFile is set to false. When I set PublishSingleFile to true it stops working.

[2021-03-29 12:34] Sten-V opened #439 "Assembly name comparison"
Is it possible that this call to `Contains(...)` instead should be a call to `Equals(...)`, or is this intentional?
https://github.com/toddams/RazorLight/blob/22381db30ca3c61b4b1e4004e1536407dd138e49/src/RazorLight/Compilation/DefaultMetadataReferenceManager.cs#L105

[2021-04-06 08:40] toddams commented on #439
excludedAssemblies is a collection, assemblyRef.Name is a string. This is intentional

[2021-04-06 08:42] toddams commented on #437
Mono is not required for the project to run

[2021-04-06 08:46] toddams commented on #435
Neither HTML Helpers, nor Tag Helpers are supported.
If there is no built-in object inside a templatePageBase for the encoding, you can use your own. Razor template is very extensible.

Btw, there is a issue template, do not neglect to fill it, it's there for a reason

[2021-04-06 08:46] #435 closed

[2021-04-06 08:47] toddams commented on #429
RazorLight indeed does not work in a single-file bundle yet.
This is relatively new feature and nobody did any work to support that. But it should be supported, imo

[2021-04-06 08:49] toddams commented on #429
https://github.com/dotnet/runtime/issues/35493

[2021-04-06 09:32] Sten-V commented on #439
Yes, but the `Contains(...)` is not performed directly on that collection, it done on every string in that collection the way it looks now.
And because it is a `Contains(...)` comparison between two strings it's quite possible to exclude more assemblies than the consuming code intended.

[2021-04-07 12:51] toddams commented on #439
Sorry, I actually overlooked the point. It's indeed weird, I'll double-check

[2021-04-09 16:03] 0Neji commented on #347
Hi, was there ever any progress on this? We're looking to use this on an Umbraco 8 project which requires 4.7.2 and I'm seeing the same error.

[2021-04-13 11:25] 0Neji commented on #406
Hi @jzabroski

I'm running in to a similar error message when trying to use RazorLight on an Umbraco project.

I've got a project you can check out at: https://github.com/0Neji/UmbracoRazorStaticHtml

To recreate the error:

1. Checkout and run the solution in debug
2. Place a breakpoint at line 51 in `HtmlGeneration.cs` - https://github.com/0Neji/UmbracoRazorStaticHtml/blob/main/UmbracoStaticHtml

[2021-04-13 12:17] actorius opened #442 "Could not find a part of the path with UNC paths"
**Describe the bug**
Deployed application to IIS with site placed on shared folder (like \\server\iisapps\webapp)
After calling razorlight in stack this is throw error like below
Could not find a part of the path C:\iisapps\webapp\webapp\bin\System.ValueTuple.DLL
It's look like searching does not work with UNC paths and translated to local path

**To Reproduce**
Make some app using embedded resour

[2021-04-15 01:24] #442 closed

[2021-04-27 13:18] #437 closed

[2021-04-28 14:47] raxuser100 commented on #127
I am using [LinqPad ](https://www.linqpad.net/)which references ClassLib which in turn executes the RazorLight engine. I run into the same error:

`RazorLight.RazorLightException: Can't load metadata reference from the entry assembly. Make sure PreserveCompilationContext is set to true in *.csproj file`

I tried adding `<PreserveCompilationContext>` into the classlib csproj, though I know it will

[2021-04-28 14:49] raxuser100 opened #443 "Executing via LinqPad throws "RazorLight.RazorLightException: Can't load metadata reference""
I am using [LinqPad ](https://www.linqpad.net/)which references ClassLib which in turn executes the RazorLight engine. I run into the same error:

`RazorLight.RazorLightException: Can't load metadata reference from the entry assembly. Make sure PreserveCompilationContext is set to true in *.csproj file`

I tried adding `<PreserveCompilationContext>` into the classlib csproj, though I know it will

[2021-04-28 15:33] jzabroski commented on #127
@raxuser100 From your description, you're using RazorLight.Unofficial, which isn't supported by this repository and may be quite old.  nuget.org says that package was last updated last updated 6/30/2018 .  Probably time for you to re-think your dependency.

[2021-04-28 16:08] raxuser100 commented on #127
You are right, thanks for pointing out version issue.  Would this be the correct latest version to try:

<PackageReference Include="RazorLight" Version="2.0.0-beta9" />

or back in 2017 I note the official release:

<PackageReference Include="RazorLight" Version="1.1.0" />

Both throw the same error in LinqPad.

I've raised a StockOverflow question
https://stackoverflow.com/questions/67303505/linq

[2021-04-28 16:30] jzabroski commented on #127
Please try the beta.  I was hoping to do an official version soon but I got delayed by getting the covid-19.

[2021-04-28 16:39] raxuser100 commented on #127
So sorry to hear about your challenges with Covid... I do hope you are well and recovered now.

Thanks, I tried the <PackageReference Include="RazorLight" Version="2.0.0-beta9" /> version and it's still throwing the error.

Is there some way of utilising  MetadataReference to solve this problem? Perhaps a long shot!
________________________________
From: John Zabroski ***@***.***>
Sent: 28 April 2

[2021-05-12 14:31] jorn1 commented on #347
RIP Umbraco Developers

[2021-05-12 16:00] jzabroski commented on #347
Didn't understand that last comment.  Is Umbraco using RazorLight?

[2021-05-17 15:40] glararan opened #446 "System.OutOfMemoryException"
**Describe the bug**
Today I upgraded site from NET Core 3 to NET 5. I also moved from beta-8 to rc-3. However after few hours I am getting following exception

[code]

However app is not crashing nor is system out of memory.. there is about 10GB RAM left.

**To Reproduce**
My implementation **EmailBuilder.BuildAsync**:
[code]

App is blazor-serverside/webassembly based. Using now like 500MB RAM.

[2021-05-17 19:19] jzabroski commented on #446
Hi @glararan , Thanks for using RazorLight.

Normally, .NET developers use a tool like Redgate ANTS Memory Profiler to detect memory leaks or possibly places in their application where they are not freeing memory soon enough.  It can profile memory up to the OOM Exception, and then you can take a final snapshot of what's been allocated in order to catch the offender.  Another trick you can do to t

[2021-05-17 19:34] glararan commented on #446
Welp.. its not definitely mem leak if I can tell - app is not crashing and still works, it sounds like wrong exception. To analyze memory I will have to rebuild it using debug and check later when visitors returns.

Csproj looks like
[code]

Actually not as this is first day relase on production to test stability. No other issues than this one. I would stay on same version as before however its no

[2021-05-17 19:45] jzabroski commented on #446
Yeah, but.... that's not how you report OOM Exceptions, per say... RazorLight could just be throwing that because it's trying to populate the compilation cache with a huge template.  That doesn't mean there is a bug in RazorLight- it just means the memory request is too large for .NET to fulfill.  To see if that is true, you need to know how segmented your memory pool is at the time the exception

[2021-05-17 19:52] glararan commented on #446
I just did check for it in source code before you posted it. Truly RazorLight is not throwing it. However there was no issue before upgrade :D So thats super weird. I will check it tomorrow if issue reappears. I restarted application pool since then its okay. (250 MB ram usage now).

I have to wait now if visitors will use features including email generating. I will let you know what I found

[2021-05-18 02:41] jzabroski commented on #446
So, I think the lesson learned here is, if you get an OOM Exception, you may want to try to reproduce it first - my guess is your cached template is quite larger than you think.  It's conceivable someone could even exploit the template generation cache and create a denial of service attack.  I'm not sure that it's RazorLight's business to defend against that.  I mostly use it in applications where

[2021-05-20 09:17] glararan commented on #446
Closing for now as error didnt reappear after website restart.

[2021-05-20 09:17] #446 closed

[2021-06-04 11:50] matthewwren opened #449 "Header Template on each page"
Is there a way to apply a header template to each page?

[2021-06-04 14:27] jzabroski commented on #449
Why doesnt layouts work for you

[2021-06-09 07:33] matthewwren commented on #449
Layouts don't apply to each page, they apply to the entire document as far as I have seen, unless I am missing something?  For example try to create a pdf a random amount of pages long and at the top of each page place in capital letters ACME LIMITED and an address.

[2021-06-09 07:44] matthewwren commented on #449
Sorry this was not a question for RazorLight but a different library.  My mistake :(

[2021-06-09 07:44] #449 closed

[2021-06-14 14:28] jzabroski commented on #283
This was a really good process you suggested, @x10an14 .  Thank you.  I will likely try it out at work and if it indeed proves useful, will try it in FLOSS projects.

[2021-06-14 15:17] junalmeida opened #450 "Method 'WriteTo' does not have an implementation"
**Describe the bug**
RazorLight is throwing the following exception when running `engine.CompileRenderAsync`

[code]

**To Reproduce**
It seems like an incompatibility between dependencies, but I couldn't figure out exactly which one.

**Expected behavior**
It seems the said `WriteTo` method in `ViewBuffer` class is a reference of the interface `IHtmlContent`, in the assembly `Microsoft.AspNetCore

[2021-06-16 21:17] x10an14 commented on #283
Glad to hear I could help/have a potentially positive influence =)

[2021-06-28 02:50] darnmason commented on #450
I have just started experiencing the same exception running in Azure Functions, was just trying to figure out what changed. It looks like it wasn't a change of the functions runtime version. I also didn't update RazorLight, been running RC3 for a while. I can't reproduce it locally.

Are you by any chance running it in Azure Functions? As my first instinct is it could be something they're doing -

[2021-06-28 13:23] junalmeida commented on #450
Mine is occurring in AZ Functions local SDK, not occurring on az servers (yet). This is my csproj header:
[code]

[2021-06-28 15:52] jzabroski commented on #450
What framework is your func.exe running against?

[2021-06-28 16:10] junalmeida commented on #450
I added the following code to my initialization method

[code]

And this is the result:
[code]

[2021-06-28 18:04] jzabroski commented on #450
Can you give me these files:

 runtimeconfig.json
 deps.json
 global.json

[2021-06-28 18:34] junalmeida commented on #450
[runtimeconfig.json.txt](https://github.com/toddams/RazorLight/files/6728507/runtimeconfig.json.txt)
[deps.json.txt](https://github.com/toddams/RazorLight/files/6728508/deps.json.txt)

[2021-06-29 02:41] darnmason commented on #450
Here's my latest startup event showing functions runtime `3.0.15961`.
[code]
I just have [function.deps.json.txt](https://github.com/toddams/RazorLight/files/6730218/function.deps.json.txt) and [extensions.json.txt](https://github.com/toddams/RazorLight/files/6730237/extensions.json.txt) if they're any use.

[2021-06-30 13:15] jzabroski commented on #450
I think the right way to solve this problem is to get the function.deps.json.txt for the version that is breaking and the prior version of the func.exe SDK and diff the two, as that will likely show where the issue is.  Unfortunately, package search engines like nuget.org dont let you easily query when a method went missing.

[2021-07-01 03:41] darnmason commented on #450
The key difference in mine looks like [Azure.Core](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/core/Azure.Core) bumped from `1.8.1` to `1.15.0` due to adding a reference to `Azure.Storage.Blobs`.

[2021-07-01 04:24] darnmason commented on #450
I downgraded `Azure.Core` to `1.8.1` and the issue is resolved.

So how can Azure.Core have this effect? And should we be creating an issue there?

[2021-07-02 17:51] timbze commented on #366
Also see https://github.com/toddams/RazorLight/discussions/421#discussioncomment-957911

[2021-07-02 19:35] jzabroski commented on #366
Yes, if people are using packages.config, they are likely to have issues consuming .NET Core libraries.

[2021-07-21 14:42] 304NotModified commented on #361
Polite bump!

[2021-07-21 15:13] jzabroski commented on #361
Hi Julian @304NotModified ,

I lost some momentum contributing to this project when @toddams appeared to re-new interest in it - I didn't want to step on his toes.  I'm not exactly clear what the next steps should be, although I do have a strong grasp on why people are complaining about having to include AspNet SDK on the machine that runs RazorLight2.0.0-rc.3 and what the remaining trade-offs are

[2021-07-24 12:09] 304NotModified commented on #361
Would be great if there would be a 2.0 RTM!

[2021-07-30 11:17] ffMathy opened #451 "Release 2.0"
The "RC" flag was super confusing. The documentation refers to V2, but since it's flagged as RC, it's not the default one that is installed.

[2021-08-04 07:14] billbrinck commented on #267
Same for me. It can't find my templates. Did you resolve this somehow?

[2021-08-04 12:26] jzabroski commented on #267
@billbrinck Please open a new issue and file a bug report with repro steps.  Alternatively, look at the example in the source and look at what could be different between your project and this one.

[2021-08-04 12:26] jzabroski commented on #267
I see that you did create a discussion here: #452

[2021-08-05 12:31] vascofernandes commented on #450
Having exactly the same problem as @darnmason .

[2021-08-05 12:38] jzabroski commented on #450
I'm not sure but it probably has something to do with the order in which assembly binding occurs.

To confirm you will need to turn on logging.

[2021-08-05 13:17] junalmeida commented on #450
What logging do I need to turn on @jzabroski could you please specify the steps you think will help?

[2021-08-05 13:51] jzabroski commented on #450
`setx CORE_HOSTTRACE 1`
and
see also: https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/default-probing#how-do-i-debug-the-probing-properties-construction

I had contributed documentation to this probing page because I was getting a lot of tickets about assembly binding issues, mostly from Azure Functions customers.  If you have a long lunch break and need to be bored to death, you c

[2021-08-05 17:08] junalmeida commented on #450
I can see some references to `HtmlAbstractions`, which I quote below:
[code]
Does it make any meaning to you @jzabroski

[2021-08-05 17:32] jzabroski commented on #450
Yes, it likely means that it is loading Microsoft.AspNetCore.Html.Abstractions 3.1.13

Assuming you are using the latest official rc https://www.fuget.org/packages/RazorLight/2.0.0-rc.3 , you can see we are linking to 3.1.5, so that will blow up.

The problem is that "roll forward" technology does not work at runtime, I think (but am not 100% sure about that, but I would wager that is true).  So,

[2021-08-05 17:44] junalmeida commented on #450
At this time at least for me it is working well in azure servers. This affects me only when using the local func.exe tool. Questions for you @jzabroski:
1. Is there any way you recommend to force the version needed for current `2.0.0-rc3`?
2. Does that mean newer versions of Html.Abstractions are not supported?
3. Do know of any plans to make newer versions compatible with this library?

[2021-08-05 18:00] jzabroski commented on #450
1. Yes, you can implement your own "DirtyAssemblyResolveHelper".  This is a trick various open source authors use for "framework libraries" where the library itself de facto injects a framework as a dependency, like Fody MSBuild Task, or BenchmarkDotNet, or FluentMigrator.  See: https://github.com/fluentmigrator/fluentmigrator/blob/9c87d698b161b3a1bb596a5624c02891a64459c5/src/FluentMigrator.DotNet

[2021-08-05 19:21] junalmeida commented on #450
The `DirtyAssemblyResolveHelper` is certainly a thing I will look at, but it is a more complex long-term workaround.
For now what I tried so far is: I removed all old netcore sdk versions, I now have only version 3.1.5 sdk installed, and according to the logs, it seems it is using the 3.1.13 version from `func.exe` itself.

The issue persists.

I compared both versions 3.1.5 and 3.1.13 (decompilin

[2021-08-05 20:05] jzabroski commented on #450
Is it using the version from func.exe itself, or from your current SDK on your disk.  I am not super familiar with func.exe.  Is it a self-contained deployment, or is it rolling forward to the latest patch version?  func.exe itself should have a deps.json file in its exe directory, as well as runtimeConfig.json i think

[2021-08-05 21:53] junalmeida commented on #450
See attached both deps and runtimeConfig
[func.deps.json.txt](https://github.com/toddams/RazorLight/files/6941855/func.deps.json.txt)
[func.runtimeconfig.json.txt](https://github.com/toddams/RazorLight/files/6941856/func.runtimeconfig.json.txt)

[2021-08-05 23:30] jzabroski commented on #450
func.exe is loading 3.1.13, for sure:

[code]

I don't think there is a great solution here.  I had spoken to Immo Landwerth about these types of modularity problems, and I think it never got addressed (although I do think he wanted to at least respond to my comments if not address the issue).

In java, they have a "bind" tool that does co-constraints the guarantee a single binary version is loade

[2021-08-06 13:45] junalmeida commented on #450
I think the problem is not exactly to load 3.1.13 as I can successfully create a "hello world" simple project using that version. I think the problem lives on indirect dependencies when a project starts to get large.

[2021-08-06 14:33] jzabroski commented on #450
When you create a direct dependency, you opt in to roll forward.  When you have an indirect dependency, it does not.  So I believe we are saying the same thing.

The problem is that Roll Forward is based on the host executable.  So you can create your own host and even specify Roll Forward LatestMajor, and it will Roll Forward that.  But if you then dynamically load a different DLL version, Roll F

[2021-08-06 14:51] junalmeida commented on #450
@jzabroski Thanks for your explanation.
I'm just trying to solve this problem in order to get going, unfortunately I can't and I'm totally stuck with this.

[2021-08-06 15:36] jzabroski commented on #450
I'll see if I can find some time to play with func.exe.

[2021-08-06 15:38] jzabroski commented on #450
Can you do me a favor and report your `dotnet.exe --info ` command dump results

[2021-08-06 15:41] jzabroski commented on #450
Also, while you wait for me, can you try just setting `<PublishTrimmed>false</PublishTrimmed>`.  Again, given everything we have discussed and verified, the only explanation WriteTo would be missing is tree shaking, because the .NET docs say it exists in all versions of the runtime.

I also noticed this documentation - with .NET 5, Azure Functions added a new feature called Isolated Azure Function

[2021-08-06 15:46] junalmeida commented on #450
@jzabroski
[code]

Yeah I saw that `dotnet-isolated` feature, however I can't upgrade from 3.1 to 5.0 atm. What I am currently experimenting is removing RazorLight from the netstd2.0 class library, and adding it exclusively to the functions entrypoint, which is a netcoreapp3.1 project. After doing that, now I'm getting a different error, the same as in this thread: https://stackoverflow.com/questi

[2021-08-06 15:46] jzabroski commented on #450
BTW, you can actually see Microsoft makes the same point I claim:

https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#benefits-of-running-out-of-process

[2021-08-06 18:15] junalmeida commented on #450
`<PublishTrimmed>false</PublishTrimmed>` doesn't seem to help, same errors.

[2021-08-07 00:48] junalmeida commented on #450
Unfortunately I'm using razor on a Durable Function, which is not yet supported by the isolated process method. :(
I'm still trying to understand why this error is happening with this project on my computer, and not happening on either other projects on the same computer and the same project on different computer. Seems like a combination of current installed libs, func version and the dependencie

[2021-08-07 23:24] junalmeida commented on #450
Continuing on my investigation here @jzabroski, I created a small "hello world" function project, that works well, and then I started adding some of the dependencies I have on my real project, 1 by 1. It starts to give errors after I add the `Azure.Storage.Queues` dependency (mere fact to have it as dependency is enough, even if I'm not really using it on the test project).  To be honest this make

[2021-08-10 22:35] jzabroski commented on #450
I am not sure, either, just yet.  Can you try loading just Azure.Core nupkg and see if that breaks it when its in a netstandard2.0 context.  I have a feeling they packaged that incorrectly.

The hard part with looking at this stuff, even with Nuget Package Explorer, is you have to know whats supposed to be "in box" vs. "out of box" (OOB) in the System namespace.  OOB refers to thinks that don't sh

[2021-08-11 13:44] junalmeida commented on #450
I can see the problem happening when I simply add `System.Text.Encodings.Web` which is a dependency of `Azure.Core`.

[2021-08-24 08:36] PraveenMFluke opened #453 "Out Of Memory Exception while converting large model to html string using RenderTemplateAsync"
**Describe the bug**
We are using RazorLightEngine to convert our Model to Html string using "**RenderTemplateAsync**" method of RazorLightEngine .
Our Model is Dictionary of classes and this collection contains hundred thousands of entries( 300000 entries in our case).
Once we recieve the output of the method "RenderTemplateAsync". which is a string , we pass this to pdf renderer class to get the

[2021-08-24 15:38] acmichaud commented on #450
Hi,
Any update on the Issue? I have the same problem here. I will try to implement the dirty loading but it would be nice to make it compatible with azure.core eventually.

Best regards!

[2021-08-24 15:44] jzabroski commented on #450
I think you misunderstood the conversation.  It is not possible without dirty loading.  Microsoft even said so.  Your only option is to use out-of-process worker model.  Please re-read.  Thank you.

[2021-08-24 18:45] jzabroski commented on #453
@PraveenMFluke Can you be more specific?  I can create an OutOfMemoryException just by calling `string.Empty.PadLeft(' ', long.MaxValue)` over and over again, so I am not sure what is causing your out of memory exception.  Given you are also using a third party library for pdf rendering, I suggest you use a tool like RedGate ANTS+ Memory Profiler and look at which objects have the most pooled memo

[2021-08-25 04:13] PraveenMFluke commented on #453
I have quickly checked the object size . It was around 900MB for 300,000 entries before passing to RenderTemplateAsync . Basically our object is IEnumerable of Dictionary which will be filled after reading DB .
This is ASP.NET background application . Not found during unit testing

[2021-08-25 11:44] jzabroski commented on #453
Can you please not "quickly check" a performance issue and submit a bug report for it?  If you want help - prove the issue is RazorLight.

[2021-08-25 12:05] #453 closed

[2021-08-25 12:43] jzabroski commented on #453
@PraveenMFluke The only advice I can give is to make sure you disable caching.  But I think before you go making changes you really need to pull out a performance profiler and determine what is using up memory.

[2021-08-31 11:19] niaher commented on #147
@jzabroski @toddams just wanted to follow up and see if NET Framework 4.7 supported at this time? I've tried using `2.0.0-rc.3` on a NET 4.7.2 project but keep getting `The type or namespace name 'Razor' does not exist in the namespace 'RazorLight'`.

I can of course use https://github.com/Antaris/RazorEngine instead, but wanted to check with you first. Thank you.

[2021-09-02 08:49] ststeiger opened #454 "How does it work with DisplayTemplates ?"
How does this work with DisplayTemplates on the file system ?
e.g. i have this directory structure
[code]

And these dummy classes

[code]

Then I want to compile Index.cshtml:

[code]

with Index.cshtml having this content:
[code]

and /DisplayTemplates/T_BlogPost.cshtml having this content:

[code]

The only thing I get is an exception "The name 'HTML' does not exist in the current context".

[2021-09-09 07:18] SharkLock opened #455 "让RazorLight支持DateTime等System中的基础方法"
[#387](https://github.com/toddams/RazorLight/issues/387) 这个问题我也遇到了, 不过我用的是DateTime的对象同样提示

**Describe the solution you'd like**
在这个文件中
D:\RazorLight\src\RazorLight\Generation\RazorSourceGenerator.cs
在internal protected RazorSourceDocument GetNamespacesImports()增加对Namespaces的非空判断
在public virtual async Task<IEnumerable<RazorSourceDocument>> GetImportsAsync(RazorLightProjectItem projectItem)
中调整 Text

[2021-09-09 10:10] rdhainaut commented on #450
I have encountered the same issue too.
I have read the thread and the only detail i don t really get it s why it happend now with this version (rc version) and not before ?

If i have well understand i must add this line in my csproj and the issue is gone.

[code]
More info here: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/out-of-process-hosting?view=aspnetcore-5.0

I don t re

[2021-09-09 14:22] jzabroski commented on #450
@rdhainaut The reason is that it's a general problem with dynamic plug-in architecture that Microsoft has not solved in .NET Core/.NET 5/.NET 6. Who knows if they will ever solve it. That said, the property you're settling there is for IIS , NOT AzureFunctions. I doubt it will work for AzureFunctions. It looks like you can start your journey here : https://docs.microsoft.com/en-us/azure/azure-func

[2021-09-09 15:10] rdhainaut commented on #450
@jzabroski  thanks for your explanation, your time and the link.

Just in case, I have found a workaround to make it works locally.
Generally, I launch several apps (a wep api and one azure function) locally via the Visual studio launching menu (and use Kestrel so).

The workaround  is to open a windows terminal,
then go to the project root dir `cd /path/to/AzureFunctionProject`
and execute the co

[2021-09-14 16:42] kieranbenton commented on #177
Researched this a little bit today as I've hit exactly the same problem, providing my own custom cache implementation yet no amount of flushing that results in RL regenerating a template even if the source text has changed.

So, I have found a way to defeat the 'internal' cache in RL (not actually sure if its RL itself or Razor that is doing it). @jjxtra put me on the right track and they were rig

[2021-09-14 21:16] tebeco commented on #361
I think we could roll a 2.0.0 without having to remove the `FrameworkReference` on `Msft.Anc.App` YET.
and Adress that later

I took a look at the linked PR to see if help was possible, but i noticed that it introduce undesired side effect / version downgrade ... with package that are supposed to be part of `FrameworkReference`. It seems that the PR try to force soem package to be  using `2.2.0`
*

[2021-09-14 21:20] tebeco commented on #360
yes

they probably won't change it as it using NugetPackage in the first place was created tons of issue like the one that is discussed here.
I would stick with `FrameworkReference` and Shared code + 2 project => 2 nugets if you want to get rid of `FrameworkReference`
IE: you would break most consumer running AspNetCore stack today by pinning to lower version more and more "transitive"

[2021-09-14 21:24] tebeco commented on #360
It kinda does, depending on a `FrameworkReference` when using SelfContaine just grow your artifact size. I don't see other impact it could have.
If you remove `FrameworkReference`, then don't replace by any older and unsupported package `Msft.Anc.*`
AFAIK, since `August 21, 2021` 2.1 reached EOL, which was the last 2.x LTS / supported, which means it's probably even worse to go that way (possible

[2021-09-14 21:25] tebeco commented on #360
I would pay the `100Mb` at the price of stability and no CVE (see previous point)

[2021-09-15 12:17] jzabroski commented on #361
@tebeco Would you like to submit your own PR?

I looked through your comments in that PR and agree with them.

[2021-09-15 14:15] tebeco commented on #361
I was gonna post a super long answer explaining how we all know how open source works
Gonna drop a PR to
* get TFM updated (ns2.0 + netcoreapp3.1/net5)
* will see if possible to bump dependencies too
* release 2.0.0 on that

NON GOAL:
* removing the `FrameworkReference`

I will though try to get a skeleton for the duplicated package so that anyone whiling to tackle the shrinking will be able to wo

[2021-09-15 14:32] jzabroski commented on #361
I generally ask people if they want to contribute, as its a good way to get people involved: sometimes simply just asking helps push open source forward. As my pastor quotes, "You don't have because you don't ask." :D

I don't think it's even possible to remove the `FrameworkReference`.  The nuget packages in the AspNetCore prefix were removed with the introduction of FrameworkReference.  The only

[2021-09-15 18:03] tebeco commented on #361
exactly and it’s up to consumer to do that right now. not library owner AFAIK
That’s really the reason why i will je bump TFM / dependencies
and wait if someone wake up
i don’t plan to do the extra job is no one is there on the other side. That’s a bit selfish of me but as said, we all know how open source work.

what i linked for signalr would basically do that, it’s manual though

[2021-09-17 07:48] tebeco commented on #455
@SharkLock
you may want to translate your message to English for better comprehension of everyone on Github.
We could all everyone open the translator, or you could do it once, thus you will help everyone once for all

[2021-09-17 07:50] tebeco commented on #361
@jzabroski is there a `breaking change` label or something to look out for when doing updates ?
eg:
for anyone upgrading 1.1.x to 2.0, what issue / PR should we open to get a sort of "release note" of what would potentially break

[2021-09-21 20:20] nkr-sjanofsky opened #456 "Method 'CreateAnalyzerDriver' in type 'Microsoft.CodeAnalysis.CSharp.CSharpCompilation' from assembly 'Microsoft.CodeAnalysis.CSharp, Version=3.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' does not have an implementation."
Migrating a web app from .NET Core 2.2 => .NET Core 3.1 and seeing this error when running CompileRenderAsync.

The project does not make use of DI to instantiate the engine, it uses the following code instead:

[code]

Is it required to use DI to instantiate the engine?

Am I missing something in the above code?

[2021-09-22 00:29] adrian-ubalde opened #457 "Remote Code Execution security vulnerability through transitive dependency on system.text.encodings.web"
Hello RazorLight team,

A recent security vulnerability scan of my application (which has a dependency on RazorLight@2.0.0-rc.3) via the [Snyk](https://snyk.io/product/open-source-security-management/) scan tool, has detected a Remote Code Execution security vulnerability (please see attached screenshot for details).

There is a security vulnerability on the system.text.encodings.web package (deta

[2021-09-22 05:38] henryblacketer commented on #451
Second this

[2021-09-28 23:26] GiantCaiB commented on #406
This issue caused by
        .SetOperatingAssembly(typeof(OurWebApp.Data.Order).Assembly)

If your model is dynamic object, it will give you above errors.
Be careful if you just simply remove this, RazorLightEngine.Build() will try to get the Assembly
`            Assembly assembly = operatingAssembly ?? Assembly.GetEntryAssembly();
            RoslynCompilationService compilationService = new Ros

[2021-09-30 08:20] toddams commented on #455
Closing, as I have no idea what this is all about ¯\_(ツ)_/¯

[2021-09-30 08:20] #455 closed

[2021-09-30 08:22] toddams commented on #454
RazorLight does not support HTML Helpers. But, luckily we have @Raw() function, which does the same, so you can use it for your case

[2021-10-05 04:11] NagarajMasub opened #458 "High Memory usage while using RazorLight"
Hi team,
I have been using the RazorLight engine for resolving my email templates, I am facing high memory usage from the RazorLight engine.
Please find the attached snap of memory usage report, this below snap taken in localhost.
-	Continuously triggered 20 requests in loop, the memory takes around 1.3 GB
-	Normally app takes below 200 MB, for this RazorLight code processing alone takes High memo

[2021-10-19 09:14] ps-ahella opened #459 "RazorLight 2.0.0-rc.3 release issue"
@jzabroski It looks like the rc3 release contains the same dlls as the rc2 release. I found this while I was searching for a solution for a TemplateNotFoundException in my project and trying to turn the new debug flag on (but the option was missing).

I've downloaded (from nuget.org) and compared the content of the rc3 and rc2 packages and they match. Can you please check and fix this.

Thanks,
Al

[2021-11-01 13:12] #454 closed

[2021-11-04 14:43] jzabroski commented on #459
Hi Albert,

Whoa - thanks for catching this.  I confirmed.  I'm at work right now but I will deal with this tonight.

![image](https://user-images.githubusercontent.com/447485/140334655-b78753da-3f6b-4998-b06c-cb3a0e9e4af8.png)

[2021-11-12 17:57] FLAMESpl commented on #429
Hi @toddams, is there any work going on in the matter of supporting single-file bundles?

[2021-11-15 09:26] jacodv opened #460 "DOTNET 6 Error - Cannot find compilation library location for package 'System.Security.Cryptography.Pkcs'"
**Describe the bug**
Existing tests fail after upgrade.

**To Reproduce**
Upgrade Test Project from Dotnet 5 to Dotnet 6:

**Expected behavior**
The template should transform

**Information (please complete the following information):**
 - OS: Windows 11
 - Dotnet6
 - RazorLight version:
 -- https://www.nuget.org/packages/RazorLight/2.0.0-rc.3
 -- https://www.nuget.org/packages/RazorLight.NetCore3

[2021-11-16 00:02] xantari commented on #203
Getting this same error upgrading a project from .NET Core 5.0 to .NET Core 6.0. Nothing above has solved this issue yet.

[2021-11-16 00:08] jzabroski commented on #203
@xantari This issue is about .NET Core 2.1 and .NET Core 3.1.

[2021-11-16 00:08] #203 closed

[2021-11-16 00:10] jzabroski commented on #203
This issue is now locked.  If the FAQ in the README or @penihel 's suggestion does not work, open a new issue and follow the issue template.  Also try to create a repro , as that will likely solve your problem through explaining it to yourself.

[2021-11-16 00:12] jzabroski commented on #460
@jacodv I don't think RazorLight.Tests has any test with Convert_GivenValidInput_ShouldConvert.  Can you reproduce this in the current repositories tests?

[2021-11-16 05:00] jacodv commented on #460
I have cloned the repo, but Visual Studio 2022 keep on hanging trying to load the projects.  I will create a clean solution and try load them again.  If I succeed then I will push to GitHub and revert ASAP.

[2021-11-16 08:10] jacodv commented on #460
@jzabroski I have created a repo (https://github.com/jacodv/RazorLightDotNet6)

I get different errors, but they can be fixed by updating the RazorLight.csproj.  Here are my tests in order (branches):
* branch_jdevil-Dotnet5-Success (Started with a .Net5 Test Project)
* branch_jdevil-Dotnet6-UpdateProjectOnly (Only change the test project to .Net6) - See README in root for error
* branch_jdevil-Do

[2021-11-16 09:21] jacodv commented on #460
@jzabroski : My Error has todo with a dependency (System.Security.Cryptography.Pkcs) of referenced Nuget packages.  It would seem that different Nuget packages depend of different versions of this dependency.  I realized it by looking at the project.assets.json file in the obj folder.

Three questions:
* Is there a way to for the load of a specific version when the RazorEngine compiles?
* Why does

[2021-11-16 11:06] adimoldovan92 commented on #460
I am having the same problem after upgrading from .NET Core 3.1 to .NET 6. I haven't managed yet to find a fix for this,

[2021-11-16 11:25] jacodv commented on #460
@jzabroski I managed to replicate the problem.  All I had todo is add a package reference to `System.Security.Cryptography.Pkcs` in the test project.

https://github.com/jacodv/RazorLightDotNet6/tree/branch_jdevil-Add-IIAB-To-See-Why-Error-Occurs

Thank you in advance

[2021-11-16 17:02] jzabroski commented on #460
@jacodv ...Why are you adding a reference to that project?

That said:

The only solution to fix this conflict is to write an assembly resolve helper.  This isn't really a RazorLight problem, this is a your-dependencies-are-in-hell-you-need-to-sort-it-out problem.

[2021-11-16 17:03] jzabroski commented on #460
Thanks, I'll try to take a look at this soon to understand the problem.

[2021-11-17 04:42] jacodv commented on #460
@jzabroski I added the reference to show that it is not DLL hell as suggested.  If I only add that project and add RazorLight then I get the error.  Let us assume I had this code in my project

Commit to: https://github.com/jacodv/RazorLightDotNet6/tree/branch_jdevil-Add-IIAB-To-See-Why-Error-Occurs

[code]

[2021-11-22 05:08] jacodv commented on #460
@jzabroski / @toddams,  did you manage to see what might cause this issue?  On my last commit I showed that my initial guess that a 3rd party is causing the problem was incorrect.

[2021-11-22 16:26] jzabroski commented on #460
Sorry man.  I have not given this repo a lot of love the last ~2 years (basically, since covid hit).  I acknowledge your repro and think it is great you went that far.  I'm hesitant to sink a lot of time into issues related to loading third party DLLs, since ultimately RazorLight is doing very simple things.

I would guess there is an issue with the Metadata Resolver, for which there is already an

[2021-11-22 17:04] jzabroski commented on #460
I think, the fix might be to change the way we packaged netstandard2.0, as it is probably ambiguous which version of Microsoft.AspNetCore.* assemblies we should use when we request a frameworkreference for net6.0 in a context where the interstitial project between the entrypoint assembly and the RazorLight assembly is a netstandard2.0 assembly/csproj.

e.g.

[code]

In this case, MSBuild will reso

[2021-11-22 20:40] jfrank14 commented on #241
Do you mean to replace

`<Project Sdk="Microsoft.NET.Sdk">`

with

`<Project Sdk="Microsoft.NET.SdkWeb">`
?

[2021-11-22 22:35] billrob commented on #241
@jfrank14

`<Project Sdk="Microsoft.NET.Sdk.Web">`

[2021-11-23 04:56] jacodv commented on #460
@jzabroski , Firstly I appreciate you and the rest of the team's efforts to maintain a crucial function for us.  If I can help, I will do so greatly.

Your assessment seems on track,  It has todo with conflicts  between 2.0 and 2.1.  We need 2.1 for some of the collectable assembly functionality and there lie the issue I believe.  Because .Net 5 works without any issues.

I will also play with you

[2021-11-23 14:24] jzabroski commented on #460
The primary reason we support netstandard2.0 TFM is really for .NET Framework 4.8 projects. The Microsoft.AspNetCore.* assemblies do not target net4.8 TFM, so that is why we targeted netstandard2.0.

One possible solution is to create a RazorLight.Net48 project and move the netstandard2.0 dependency there.  It would share the same code as RazorLight.csproj through auto-globbing rules, but have a d

[2021-11-23 17:02] jzabroski commented on #460
Here are the packages we use and a quick review of which ones keep up to date on versions:

# .NETCoreApp 3.1
| Package | RazorLight Version | Status | Available OOB? | Notes
| - | - | - | - | - |
| [Microsoft.AspNetCore.Mvc.Razor.Extensions](https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Razor.Extensions/#versions-tab) | (>= 3.1.5) | 6.0.0 | ✔️ | - |
| [Microsoft.CodeAnalysis.Razor](http

[2021-11-23 17:11] jzabroski commented on #460
There's also this advisory in the .NET 6 Breaking Changes guide: https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/older-framework-versions-dropped

[2021-11-23 17:17] jzabroski commented on #460
In particular, see this:

https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/older-framework-versions-dropped#affected-apis

I bolded three packages that I think are interesting.  One we have a direct dependency on.  The other we might have indirect (transitive) dependencies on, but dont seem to.

It also looks like System.Memory and System.Buffers got folded into .NET 6

[2021-11-23 20:26] jzabroski commented on #460
Correction (in post above): System.Memory and System.Buffers have been in-box since .NET Core 2.1 as part of Span being introduced.

[2021-11-24 05:24] jacodv commented on #460
Good morning, South Africa (GMT+2) , I think we are worlds apart.   I have a couple of admin tasks for the morning, then I am on this.

Thanks for the details so far

[2021-11-24 12:04] jacodv commented on #460
@jzabroski  this branch compiles and my simple test passes with most of `RazorLight.Tests`.   This is not the solution, I wanted to get a better understanding of the problem, and thus made everything `DotNet 6`.

It does show that there are major compatibility issues going to `DotNet 6`, especially around `ASP.Net Core` and hosting.

I need to get back to my own work.  But will take it up again to

[2021-11-24 14:47] jacodv commented on #460
@jzabroski , I can confirm that if I start using the converted engine in our code I get "locking" issues.  I think it is in the _cache.Set extension.  I get the same in the RazorLight.Tests project when run on the branch: https://github.com/jacodv/RazorLightDotNet6/tree/branch_jdevil-Get-Dotnet6-Working

This is going to be a tough one

[2021-11-24 14:56] jzabroski commented on #460
OK, but do you see my point that I suspect major problems may be coming from any of these dependencies:

* Microsoft.Extensions.DependencyModel
* System.Security.Cryptography.Pkcs
* System.Text.Encodings.Web (this one is a guess - I dont see where we use it, though)
* System.IO.FileSystem.AccessContro l(this one is a guess, I dont see where we use it, though)

The first two are the likely culprits

[2021-11-24 15:03] jacodv commented on #460
Possible yes, If you try and support all the frameworks.

But even before we get to the dependencies, just converting to .Net 6 is an issue.  I tried to eliminate all the noise by just focussing on .Net 6 and even that seems to be a challenge.

`await _cache.Set(item.NormalizedKey, taskSource.Task, cacheEntryOptions);` Is one of the culprits